---
---
%section
  %h1 Welcome to {{ site.title }}
{% haml project.haml %}
{% haml requirements.haml %}
{% haml rubric.haml %}
{% haml version-control-system.haml %}
{% haml git.haml %}
{% haml github.haml %}
{% haml containers.haml %}
{% haml docker.haml %}
{% haml docker-compose.haml %}
{% haml front-end.haml %}
{% haml html.haml %}
{% haml css.haml %}
{% haml javascript.haml %}
{% haml back-end.haml %}
{% haml python.haml %}
{% haml django.haml %}
{% haml postgresql.haml %}
{% haml production.haml %}
{% haml heroku.haml %}
