---
---
%section
  %h1 Welcome to {{ site.title }}
{% haml syllabus.haml %}
{% haml project.haml %}
{% haml development-environment.haml %}
{% haml version-control-system.haml %}
{% haml git.haml %}
{% haml github.haml %}
{% haml git-github-exercises.haml %}
{% haml containers.haml %}
{% haml docker.haml %}
{% haml docker-compose.haml %}
{% haml docker-compose-exercises.haml %}
{% haml front-end.haml %}
{% haml html.haml %}
{% haml html-exercises.haml %}
{% haml css.haml %}
{% haml css-exercises.haml %}
{% haml javascript.haml %}
{% haml javascript-exercises.haml %}
{% haml back-end.haml %}
{% haml python.haml %}
{% haml python-exercises.haml %}
{% haml django.haml %}
{% haml django-exercises.haml %}
{% haml postgresql.haml %}
{% haml postgresql-exercises.haml %}
{% haml production.haml %}
{% haml heroku.haml %}
{% haml heroku-exercises.haml %}
