%section#back-end{data: {magellan: {target: 'back-end'}}}
  %h2 Back-End
  %p
    The back-end of an application is everything that user does not interact with, but is required to support the front-end. This includes services like databases, publish/subscribe service, external 3rd party services, etc. For our web application, our back-end will be the part of the application that in not running on the user's browser, which includes our server and database. There are many technologies for servers and databases, but for our class, we will focus on using&nbsp;
    %a{href: '#django'} Django
    , which is a web application&nbsp;
    %a{href: 'https://en.wikipedia.org/wiki/Software_framework'} framework
    &nbsp;written in&nbsp;
    %a{href: '#python'} Python
    , and&nbsp;
    = succeed '.' do
      %a{href: '#postgresql'} PostgreSQL
