%section#collaboration{data: {magellan: {target: 'collaboration'}}}
  %h2 Collaboration
  %p
    One of the biggest benefits of using&nbsp;
    %a{href: '#git'} git
    &nbsp;and&nbsp;
    %a{href: '#github'} GitHub
    &nbsp;is so you can collaborate on code with others. In this class, you will be collaborating with your classmates.

  %p
    Read this&nbsp;
    %a{href: 'https://medium.com/analytics-vidhya/how-to-collaborate-on-code-in-git-f15effebfb17?source=friends_link&sk=3a93334a0c54b3f377622208e8d089e3'} tutorial
    &nbsp;to understand how to collaborate on code with others. The tutorial will touch on these items:
    %ul
      %li
        %a{href: 'https://git-scm.com/docs/git-branch'} git branch
      %li
        %a{href: 'https://git-scm.com/docs/git-checkout'} git checkout
      %li
        %a{href: 'https://git-scm.com/docs/git-checkout#git-checkout--bltnewbranchgt'} git checkout -b
      %li
        %a{href: 'https://git-scm.com/docs/git-merge'} git merge
      %li
        %a{href: 'https://git-scm.com/docs/git-merge#git-merge---no-ff'} git merge --no-ff
