%section#containers{data: {magellan: {target: 'containers'}}}
  %h2 Containers
  %p
    %a{href: 'https://www.docker.com/what-container'} Container technology
    &nbsp;allows you to keep your application and dependencies isolated from other applications. Another way to look at it is that containers help you manage your application and its dependencies.
  %p
    Every application is comprised of its application code (source code) and its dependencies' code (environment). If we are able know exactly what changed with the source code and the environment, then we should have total control of the application, which will help us track down why the application is not behaving as we expect it to.
  %p
    With a&nbsp;
    %a{href: '#version-control-system'} version control system
    &nbsp;we have complete control of the source code. With containers, we have complete control of the environment. Using these two tools together, we will have complete control of everything an application needs to work properly. This also means we should be able to know exactly what changed with the source code/environment and what needs to be fixed.
  %p
    The only things that are out of our control is the networking and hardware, which this class will not focus on.
