%section#css-exercises{data: {magellan: {target: 'css-exercises'}}}
  %h2 CSS Exercises
  %p
    These exercises will give you an opportunity to add and work with some basic CSS rule-sets. Some exercises are designed to help you understand how to use CSS rule-sets; other exercises will give you a chance to see how you would use the CSS rule-sets to build your project.
  %p
    Get familiar using these common CSS&nbsp;
    %a{href: 'https://www.w3schools.com/cssref/css_selectors.asp'} selectors
    &nbsp;&amp;&nbsp;
    %a{href: 'https://www.w3schools.com/cssref/default.asp'} properties
    &nbsp;by adding rule-sets that use them to your web page:
  %ol
    %li
      %a{href: 'https://www.learn-html.org/en/Classes'} .class
      %ul
        %li
          %a{href: 'https://www.w3schools.com/cssref/sel_class.asp'} more information about CSS classes
    %li
      %a{href: 'https://www.w3schools.com/cssref/sel_id.asp'} #id
    %li
      %a{href: 'https://www.w3schools.com/cssref/sel_element.asp'} element
    %li
      %a{href: 'https://www.w3schools.com/cssref/sel_attribute.asp'} [attribute]
    %li
      %a{href: 'https://www.w3schools.com/cssref/sel_attribute_value.asp'} [attribute=value]
    %li
      %a{href: 'https://www.w3schools.com/cssref/sel_element_element.asp'} ancestor_selector descendent_selector
      %ul
        %li
          ancestor_selector and descendent_selector can be any selector, such as .class, #id, element, or attribute
    %li
      %a{href: 'https://www.w3schools.com/cssref/sel_element_gt.asp'} parent_selector &gt; child_selector
      %ul
        %li
          parent_selector and child_selector can be any selector, such as .class, #id, element, or attribute
    %li
      %a{href: 'https://www.w3schools.com/cssref/sel_element_comma.asp'} selector1, selector2
      %ul
        %li
          selector1 and selector2 can be any selector, such as .class, #id, element, or attribute
    %li
      %a{href: 'https://css-tricks.com/multiple-class-id-selectors/#article-header-id-0'} .compounding[selectors]
      %ul
        %li
          be aware of&nbsp;
          %a{href: 'https://www.w3schools.com/css/css_specificity.asp'} CSS specificity
    %li
      %a{href: 'https://www.w3schools.com/cssref/pr_text_color.asp'} color
    %li
      %a{href: 'https://www.w3schools.com/cssref/css3_pr_background.asp'} background
    %li
      %a{href: 'https://www.w3schools.com/css/css_boxmodel.asp'} box model
      %ul
        %li
          %a{href: 'https://www.w3schools.com/cssref/pr_border.asp'} border
        %li
          %a{href: 'https://www.w3schools.com/cssref/pr_margin.asp'} margin
        %li
          %a{href: 'https://www.w3schools.com/cssref/pr_padding.asp'} padding

  %p
    These are good exercises to help practice using selectors:
  %ul
    %li
      %a{href: 'https://www.w3schools.com/css/exercise.asp?filename=exercise_combinators1'} exercise 1
    %li
      %a{href: 'https://www.w3schools.com/css/exercise.asp?filename=exercise_combinators2'} exercise 2
    %li
      %a{href: 'https://www.w3schools.com/css/exercise.asp?filename=exercise_combinators3'} exercise 3
    %li
      %a{href: 'https://www.w3schools.com/css/exercise.asp?filename=exercise_combinators4'} exercise 4

  %p
    If you want to learn more about CSS, take a look at these tutorials:
    %ul
      %li
        %a{href: 'https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics'} Mozilla's CSS Tutorial
      %li
        %a{href: 'https://www.learn-html.org/'} Learn HTML &amp; CSS
      %li
        %a{href: 'https://flukeout.github.io/'} An Interactive Learning Exercise

