%section#css-exercises{data: {magellan: {target: 'css-exercises'}}}
  %h2 CSS Exercises
  %p
    These exercises will give you an opportunity to add and work with some basic CSS rule-sets. Some exercises are designed to help you understand how to use CSS rule-sets; other exercises will give you a chance to see how you would use the CSS rule-sets to build your project.
  %p
    First, understand how to include stylesheets inside a HTML document&nbsp;
    = succeed '.' do
      %a{href: 'https://medium.com/@zhao.li/'} here
    -# how to include a css file
      https://www.w3schools.com/css/css_howto.asp
      external stylesheets allows you to separate your HTML content from your CSS styling

  %p Then get familiar using these common CSS selectors &amp; declarations/properties:
  %ol
    %li
      %a{href: 'https://medium.com/@zhao.li/'} .class
    %li
      %a{href: 'https://medium.com/@zhao.li/'} #id
    %li
      %a{href: 'https://medium.com/@zhao.li/'} element
    %li
      %a{href: 'https://medium.com/@zhao.li/'} ancestor_element descendent_element
    %li
      %a{href: 'https://medium.com/@zhao.li/'} parent_element &gt; child_element
    %li
      %a{href: 'https://medium.com/@zhao.li/'} element1, element2
    %li
      %a{href: 'https://medium.com/@zhao.li/'} [attribute]
    %li
      %a{href: 'https://medium.com/@zhao.li/'} [attribute=value]
    %li
      %a{href: 'https://medium.com/@zhao.li/'} color
    %li
      %a{href: 'https://medium.com/@zhao.li/'} border
    %li
      %a{href: 'https://medium.com/@zhao.li/'} margin
    %li
      %a{href: 'https://medium.com/@zhao.li/'} padding
    %li
      %a{href: 'https://medium.com/@zhao.li/'} background
