%section#django{data: {magellan: {target: 'django'}}}
  %h2 Django
  %p
    We will use the&nbsp;
    %a{href: 'https://www.djangoproject.com/'} django
    &nbsp;framework to build the server. Django is written in the Python programming language.
  %p
    To create your first django web application, read the&nbsp;
    = succeed '.' do
      %a{href: 'https://medium.com/analytics-vidhya/how-to-start-a-containerized-django-project-cd8160fd700b?sk=1a0b2cd446b10400b661935f26eeef48'} "How to Start a Containerized Django Project" tutorial

  %p
    At the end of the tutorial, you should have an application that resembles the one in the&nbsp;
    = succeed '.' do
      %a{href: 'https://medium.com/analytics-vidhya/an-example-django-project-in-containers-cc29121df310?sk=64d84594e93870c766548f79791db8bf'} "An Example Django Project in Containers" tutorial

