%section#django-exercises{data: {magellan: {target: 'django-exercises'}}}
  %h2 Django Exercises
  %p
    These exercises will give you an opportunity to add and work with some basic Django concepts. Some exercises are designed to help you understand how to use Django; other exercises will give you a chance to see how you would use the Django framework to build your project.
  %p
    Follow the tutorials from part 1 to part 7&nbsp;
    = succeed ' ' do
      %a{href: 'https://docs.djangoproject.com/en/2.0/intro/'} here
    to build out your first django web application.
  %p
    Note: You might need to jump ahead to&nbsp;
    %a{href: '#postgresql'} PostgreSQL
    &nbsp;at certain times to get more background when the tutorials touches on the database.
