%section#django{data: {magellan: {target: 'django'}}}
  %h2 Django
  %p
    We will use the&nbsp;
    %a{href: 'https://www.djangoproject.com/'} django
    &nbsp;framework to build the server. Django is written in the Python programming language.
  %p
    To create your first django web application, read this&nbsp;
    = succeed '.' do
      %a{href: 'https://medium.com/@zhao.li/'} tutorial
    -# how to create a new containerized django app
  %p
    To add the first view to your web application, read this&nbsp;
    = succeed '.' do
      %a{href: 'https://medium.com/@zhao.li'} tutorial
    -# how to create first view
