%section#django{data: {magellan: {target: 'django'}}}
  %h2 Django
  %p
    We will use the&nbsp;
    %a{href: 'https://www.djangoproject.com/'} django
    &nbsp;framework to build the server. Django is written in the Python programming language.
  %p
    To create your first django web application, read this&nbsp;
    = succeed '.' do
      %a{href: 'https://medium.com/@zhao.li/how-to-start-a-containerized-django-project-cd8160fd700b'} tutorial

  %p
    At the end of the tutorial, you should have an application that resembles the one in this&nbsp;
    = succeed '.' do
      %a{href: 'https://medium.com/@zhao.li/an-example-django-project-in-containers-cc29121df310'} article
