%section#docker-compose-exercises{data: {magellan: {target: 'docker-compose-exercises'}}}
  %h2 Docker-Compose Exercises
  %p
    These exercises will explain the fundatmentals of using Docker-Compose. Some exercises are designed to help you understand how the tool works; other exercises will give you a chance to see how you would use the tool to build your project. Docker-Compose wraps around Docker so everything docker-compose is doing, you can do the same thing manually with docker and its associated&nbsp;
    = succeed '.' do
      %a{href: 'https://docs.docker.com/engine/reference/commandline/docker/'} command line arguments
    &nbsp;Using docker-compose is a bit easier and requires less typing, but there will be times when you might need to dive deeper into docker and the capabilities docker provides, which might not be provided by docker-compose. You can learn those docker commands as it is needed when you are troubleshooting.
  %p Get familiar using these basic commands:
  %ol
    %li
      %a{href: 'https://medium.com/@zhao.li/'} docker-compose build
      -# small repo of just Dockerfile and docker-compose.yml
      -# just cat file
    %li
      %a{href: 'https://medium.com/@zhao.li/'} docker-compose up
    %li
      %a{href: 'https://medium.com/@zhao.li/'} docker-compose run
    %li
      %a{href: 'https://medium.com/@zhao.li/'} docker-compose down -v
  %p The above commands will allow you to work with containers on your own machine. This is already hugely beneficial because the application container is isolated from your host machine so you do not have to worry about artifacts from your application spilling out into your development machine and you do not have to worry about artifacts from your development machine spilling into your application. You now have full control of your application and its environment.
  %p The following exercise will demonstrate some of the nuances of using containers.
  %ul
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Host Filesystem vs Container Filesystem
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Networking
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Volumes
  %p The following exercise will give you a chance to use everything you have learned to allow you to use containers that others have built.
  %ul
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Use Community Containers
      -# Add container with your preferred technology, e.g. c, c++, python, ruby, java, etc.
      -# print out hello world from community container
  %p The following exercise will give you a chance to practice everything you've learned about Docker and Docker-Compose.
  %ul
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Create a Simple Program to Share with Others
      -# others can clone and docker-compose up
