%section#docker-compose{data: {magellan: {target: 'docker-compose'}}}
  %h2 Docker-Compose
  %p
    %a{href: 'https://docs.docker.com/compose/overview/'} Docker-compose
    &nbsp;is a tool to help us stitch containers together. It also makes it easier to interact with Docker through configuration files. Using just Docker alone will require using command line arguments. The benefit of using configuration files over command line arguments is that configuration files can easily be source controlled and shared with other developers as well as being more&nbsp;
    = succeed '.&nbsp;' do
      %a{href: 'http://amzotti.github.io/programming%20paradigms/2015/02/13/what-is-the-difference-between-procedural-function-imperative-and-declarative-programming-paradigms/'} declarative instead of imperative
    Please&nbsp;
    %a{href: 'https://docs.docker.com/compose/install/'} install Docker-Compose
    &nbsp;on your development environment.

  %p
    Read these tutorials to understand how to use Docker-Compose:
  %ol
    %li
      %a{href: 'https://medium.com/analytics-vidhya/how-to-understand-downloading-images-with-docker-compose-236e323e541?sk=0b655a4c4d22e33f1f856ebe507e678e'} docker-compose pull
    %li
      %a{href: 'https://medium.com/analytics-vidhya/how-to-understand-running-containers-with-docker-compose-a8160b487a98?sk=d8237da6d6cd9b4353219e156244b51f'} docker-compose up (and docker-compose down)
    %li
      %a{href: 'https://zhao-li.medium.com/how-to-understand-building-images-with-docker-compose-24cbdbc0641f?sk=03f98f17c8902323dd82dd553b7d0d3a'} docker-compose build

  %p The above tutorials (and its respective Docker-Compose commands) will allow you to work with containers on your own machine. This is already hugely beneficial because the application container is isolated from your host machine so you do not have to worry about artifacts from your application spilling out into your development machine (e.g. the host machine) and you do not have to worry about artifacts from your development machine (e.g. the host machine) spilling into your application. You now have full control of your application and its environment.
  %p
    Docker-Compose wraps around Docker so everything Docker-Compose is doing, you can do the same thing manually with Docker and its associated&nbsp;
    = succeed '.' do
      %a{href: 'https://docs.docker.com/engine/reference/commandline/docker/'} command line arguments
    &nbsp;Using Docker-Compose is a bit easier and requires less typing, but there will be times when you might need to dive deeper into docker and the capabilities Docker provides, which might not be provided by Docker-Compose. You can learn those Docker commands as it is needed when you are troubleshooting.
  %p For the purposes of this course, we will interact mainly with Docker-Compose instead of dealing with Docker directly.

  %p The following article will highlight some of the nuances of using containers.
  %ul
    %li
      %a{href: 'https://zhao-li.medium.com/how-to-understand-working-with-files-in-containers-using-docker-compose-6d8e68ed790b?sk=79b22f662d25e42be1a46f7ead6e36e7'} files and volumes
    %li
      %a{href: 'https://zhao-li.medium.com/how-to-understand-working-with-networked-services-in-containers-using-docker-compose-5fcc9fcf062b?source=friends_link&sk=c09a67eb7e0bae52aee38745cad0a661'} networking
    %li
      %a{href: 'https://zhao-li.medium.com/how-to-understand-the-difference-between-docker-composes-up-vs-run-vs-exec-commands-a506151967df?sk=af2b23c9d78c14b8831dd289f28e54a1'} docker-compose up vs run vs exec

