%section#docker{data: {magellan: {target: 'docker'}}}
  %h2 Docker
  %p
    The container platform we will be using for this class is&nbsp;
    = succeed ', ' do
      %a{href: 'https://www.docker.com/what-docker'} Docker
    because it is popular and has a rich ecosystem of tools surrounding it. Please&nbsp;
    %a{href: 'https://docs.docker.com/install/'} install docker
    &nbsp;on your development environment. Please install the free community edition.
