%section#docker-compose{data: {magellan: {target: 'docker-compose'}}}
  %h2 Docker-Compose
  %p
    %a{href: 'https://docs.docker.com/compose/overview/'} Docker-compose
    &nbsp;is a tool to help us stitch containers together. It also makes it easier to interact with docker through configuration files. Using just docker alone will require using command line arguments. The benefit of using configuration files over command line arguments is that configuration files can easily be source controlled and shared with other developers.&nbsp;
    Please&nbsp;
    %a{href: 'https://docs.docker.com/compose/install/'} install docker-compose
    &nbsp;on your development environment.
