%section#docker-compose-exercises{data: {magellan: {target: 'docker-compose-exercises'}}}
  %h2 Docker-Compose Exercises
  %p The following exercise will give you a chance to use everything you have learned to allow you to use containers that others have built.
  %ul
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Use Community Containers
      -# Add container with your preferred technology, e.g. c, c++, python, ruby, java, etc.
      -# print out hello world from community container
  %p The following exercise will give you a chance to practice everything you've learned about Docker and Docker-Compose.
  %ul
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Create a Hello World Containerized Application to Share with Others
      -# others can clone and docker-compose up
