%section#git-github-exercises{data: {magellan: {target: 'git-github-exercises'}}}
  %h2 Git and Github Exercises
  %p The following exercise will give you a chance to practice everything you've learned about Git and Github.
  %ul
    %li
      Make Changes to a Repository
      %ul
        %li
          Use this repository:&nbsp;
          %a{href: 'https://github.com/ee491f/git-practice-for-anyone'} https://github.com/ee491f/git-practice-for-anyone
        %li
          You can follow the instructions here:&nbsp;
          %a{href: 'https://github.com/ee491f/git-practice-for-anyone/blob/master/README.md'} https://github.com/ee491f/git-practice-for-anyone/blob/master/README.md

  %p
    If you want to learn more about GIT, take a look at these resources:
    %ul
      %li
        %a{href: 'https://cs50.harvard.edu/web/#git'} CS50's Web Follow On
