%section#git-github-exercises{data: {magellan: {target: 'git-github-exercises'}}}
  %h2 Git and Github Exercises
  %p
    These exercises will explain the fundatmentals of using Git and Github. Once you understand how the tools work, some exercises will give you a chance to see how you would use the tools to build your project.
  %p Get familiar using these Git basic commands:
  %ol
    %li
      %a{href: 'https://medium.com/@zhao.li/'} git init
      -# use terminal because it is common and will be more useful
      -# have gui available for assistance
    %li
      %a{href: 'https://medium.com/@zhao.li/'} git status
      -# make new file and show new status
      -# helpful to see what's going on
    %li
      %a{href: 'https://medium.com/@zhao.li/'} git add
    %li
      %a{href: 'https://medium.com/@zhao.li/'} git commit
    %li
      %a{href: 'https://medium.com/@zhao.li/'} git checkout
  %p The above commands will allow you to version control your project on your own machine. This is already hugely beneficial because it frees you from having to continually back up the code yourself. With the code committed, you can always get back to a known working state as well as seeing the difference between each commit (or saved state). The following exercise will give you a chance to see how the basic commands can be used together to allow you to save off your code, get back to it, and see what changed.
  %ul
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Commit (Save) and Checkout (Load)
      -# Go through saving and loading your code
      -# allows you to see the changes between each committed (aka saved) code
  %p This course requires you to share your code to Github so it can be viewed and graded. So the next commands will allow you to share the code from your machine to a remote git repository, which for our class will be Github.
  %ol
    %li
      %a{href: 'https://medium.com/@zhao.li/'} git remote add
    %li
      %a{href: 'https://medium.com/@zhao.li/'} git push
    %li
      %a{href: 'https://medium.com/@zhao.li/'} git clone
      -# https vs SSH
      -# security vs convenience; up to you as class only cares that code is available on Github
      -# link to Github instructions
  %p The above commands will allow you to syncronize your local repository (the code on your own machine) to the remote repository (the code on Github). Thus allowing you to share your code with others so they can see your code. The following exercise will walk you through the process of sharing your code.
  %ul
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Make Changes Locally and Push Changes to Github
  %p This course might require you to work in a team of developers so you will need to do more than share your code (i.e. allow others to see your code). You need to collaborate with others on your code (i.e. allow others to make changes to the team project code). To collaborate effectively, you and your teammates will need to use branches.
  %ol
    %li
      %a{href: 'https://medium.com/@zhao.li/'} git branch
      -# make sure you commit on the branch you want
    %li
      %a{href: 'https://medium.com/@zhao.li/'} git merge --no-ff
      -# make sure you are on the branch you want to merge in to
  %p The above commands will allow you to collaborate with your teammates by allowing teammates to work on separate features and then contributing their features back to the project. The following exercise will walkthrough how to use branches as a team.
  %ul
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Branch Off, Create Feature, and Merge Feature
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Parallel Feature Branches
      -# two developers
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Parallel Feature Branches with Conflicts
      -# chose A, B, or both
  %p The following exercise will give you a chance to practice everything you've learned about Git and Github.
  %ul
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Contribute Changes to Team Repository
      -# clone and add file as well as update file
      -# leave a introduction/bio and add/modify quote (please keep to one line changes)
