%section#git{data: {magellan: {target: 'git'}}}
  %h2 Git
  %p
    The version control system we will be using for this class is&nbsp;
    = succeed '.' do
      %a{href: 'https://git-scm.com/'} Git
    &nbsp;Git is the&nbsp;
    %a{href: 'https://rhodecode.com/insights/version-control-systems-2016'} most popular
    &nbsp;and has a lot of supporting services. You will need Git for this course, so please&nbsp;
    %a{href: 'https://git-scm.com/downloads'} download
    &nbsp;and&nbsp;
    %a{href: 'https://git-scm.com/book/en/v2/Getting-Started-Installing-Git'} install
    &nbsp;Git before getting started with the Git exercises.

  %p
    Read this&nbsp;
    %a{href: 'https://medium.com/@zhao.li/how-to-create-a-new-git-repository-8dbb293d4227'} tutorial
    &nbsp;to understand how to create a new repository using git. The tutorial will touch on these items:
    %ul
      %li
        %a{href: 'https://git-scm.com/docs/git-init'} git init
      %li
        %a{href: 'https://git-scm.com/docs/git-clone'} git clone
      %li
        %a{href: 'https://git-scm.com/book/en/v2/Git-Internals-Plumbing-and-Porcelain'} the .git folder
      %li
        %a{href: 'https://git-scm.com/docs/git-config#FILES'} the .git/config file
      %li
        %a{href: 'https://git-scm.com/docs/git-status'} git status

  %p
    Read this&nbsp;
    %a{href: 'https://medium.com/@zhao.li/how-to-save-and-load-code-in-git-baa65d22231a'} tutorial
    &nbsp;to understand how to commit and checkout code. The tutorial will touch on these items:
    %ul
      %li
        %a{href: 'https://git-scm.com/docs/git-add'} git add
      %li
        %a{href: 'https://git-scm.com/docs/git-commit'} git commit
      %li
        %a{href: 'https://git-scm.com/docs/git-checkout'} git checkout
