%section#git{data: {magellan: {target: 'git'}}}
  %h2 Git
  %p
    The version control system we will be using for this class is&nbsp;
    = succeed '.' do
      %a{href: 'https://git-scm.com/'} Git
    &nbsp;Git is the&nbsp;
    %a{href: 'https://rhodecode.com/insights/version-control-systems-2016'} most popular
    &nbsp;and has a lot of supporting services. You will need Git for this course, so please&nbsp;
    %a{href: 'https://git-scm.com/downloads'} download
    and&nbsp;
    %a{href: 'https://git-scm.com/book/en/v2/Getting-Started-Installing-Git'} install
    &nbsp;Git before getting started with the Git exercises.
