%section#git{data: {magellan: {target: 'git'}}}
  %h2 Git
  %p
    The version control system we will be using for this class is&nbsp;
    = succeed '.' do
      %a{href: 'https://git-scm.com/'} Git
    &nbsp;Git is the&nbsp;
    %a{href: 'https://rhodecode.com/insights/version-control-systems-2016'} most popular
    &nbsp;and has a lot of supporting services. You will need Git for this course, so please&nbsp;
    %a{href: 'https://git-scm.com/downloads'} download
    &nbsp;and&nbsp;
    %a{href: 'https://git-scm.com/book/en/v2/Getting-Started-Installing-Git'} install
    &nbsp;Git before getting started with the Git exercises.

    -# tutorial on creating a repo
      git init
      git status
      .git folder
      .git/config
      git clone

    -# tutorial on staging, committing, and checking out
      git add
      git commit
      git checkout

    -# tutorial on interacting remote
      git remote add
      git push
      git fetch

    -# explaination about pull vs fetch/rebase
      be sure on correct branch and is clean

    -# tutorial on branching
      git checkout -b
      git checkout branch
      git merge --no-ff

    -# explaination about --no-ff

    -# tutorial on merge conflicts
      show 2 developers

    -# explanation about rebase vs double merge vs merge and new branch
