%section#git{data: {magellan: {target: 'git'}}}
  %h2 Git
  %p
    The version control system we will be using for this class is
    = succeed '.' do
      %a{href: 'https://git-scm.com/'} Git
    Git is the
    %a{href: 'https://rhodecode.com/insights/version-control-systems-2016'} most popular
    and has a lot of supporting services. You will need Git for this course, so please
    %a{href: 'https://git-scm.com/downloads'} download
    and
    %a{href: 'https://git-scm.com/book/en/v2/Getting-Started-Installing-Git'} install
    Git before getting started with the Git exercises.
