%section#github{data: {magellan: {target: 'github'}}}
  %h2 GitHub
  %p
    %a{href: 'https://github.com/'} Github
    &nbsp;is one of those services that support Git.&nbsp;
    Github allows users to share the code they version control with Git. There are&nbsp;
    %a{href: 'https://medium.com/flow-ci/github-vs-bitbucket-vs-gitlab-vs-coding-7cf2b43888a1'} other services
    &nbsp;that compete with Github, but a lot of open source projects use Github so that is the one we will be using for this class. You will need a Github account for this course, so please sign up for a free account&nbsp;
    = succeed '.' do
      %a{href: 'https://github.com/join'} here

  %p
    Read this&nbsp;
    %a{href: 'https://medium.com/@zhao.li/how-to-share-code-in-git-6aa9cc0eb063'} tutorial
    &nbsp;to understand how to share code. The tutorial will touch on these items:
    %ul
      %li
        %a{href: 'https://git-scm.com/docs/git-remote'} git remote
      %li
        %a{href: 'https://git-scm.com/docs/git-push'} git push
      %li
        %a{href: 'https://git-scm.com/docs/git-fetch'} git fetch
      %li
        %a{href: 'https://git-scm.com/docs/git-rebase'} git rebase
      %li
        %a{href: 'https://git-scm.com/docs/git-pull'} git pull
