%section#heroku{data: {magellan: {target: 'heroku'}}}
  %h2 Heroku
  %p
    %a{href: ''} Heroku
    &nbsp;is a commercial service that deploys and hosts applications. It is essentially a devops team for hire. We will use Heroku to deploy our application because it is free and easy to use.

  %p
    By using Heroku, you will get a sense for what devops is trying to accomplish, which is to make deploying your application be as simple, automated, and reliable as possible.
