%section#html{data: {magellan: {target: 'html'}}}
  %h2 HTML
  %p
    %a{href: 'https://www.w3schools.com/html/html_intro.asp'} HTML
    &nbsp;stands for Hyper Text Markup Language. We will use HTML to define the contents of our web page.
  %p
    To get started with your first web page using HTML, read these tutorials:
  %ul
    %li
      %a{href: 'https://www.w3schools.com/html/html_editors.asp'} basic tutorial
      &nbsp;(stop after "HTML Colors")
    %li
      %a{href: 'https://www.w3schools.com/html/html_editors.asp'} a deeper tutorial
      &nbsp;(stop after "HTML - Fonts")

  %p
    To understand how the browser is reading and interpretting your HTML page, you can use a browser's console. Each browser has their own developer console.
  %ul
    %li
      %a{href: 'https://developers.google.com/web/tools/chrome-devtools/dom/'} Chrome
    %li
      %a{href: 'https://developer.mozilla.org/en-US/docs/Tools/Page_Inspector/How_to/Open_the_Inspector'} Firefox
  %p
    The browser console is how you can debug and troubleshoot your web page code, much like how you use&nbsp;
    %code printf
    &nbsp;statements when you programmed in C.

  %p
    When using HTML, it is helpful to understand&nbsp;
    = succeed '.' do
      %a{href: 'https://www.w3schools.com/html/html_attributes.asp'} attributes

  %p
    Knowing the basic HTML tags and attributes will get you pretty far. The rest of the available tags and attributes can be learned as you go along and find a need for them. Here are some reference lists of the available&nbsp;
    %a{href: 'https://www.w3schools.com/tags/default.asp'} tags
    &nbsp;and&nbsp;
    = succeed '.' do
      %a{href: 'https://www.w3schools.com/tags/ref_attributes.asp'} attributes

  %p
    From the tutorials, you should have a basic understanding of:
    %ul
      %li
        HTML's&nbsp;
        %a{href: 'https://en.wikipedia.org/wiki/HTML_element#Syntax'} syntax
      %li
        how to open a HTML page in a browser
      %li
        how to debug and troubleshoot HTML using a browser's developer tools
      %li
        how to debug and troubleshoot HTML using a browser's developer tools
      %li
        basic, common HTML tags/elements
