%section#html{data: {magellan: {target: 'html'}}}
  %h2 HTML
  %p
    %a{href: 'https://www.w3schools.com/html/html_intro.asp'} HTML
    &nbsp;stands for Hyper Text Markup Language. We will use HTML to define the contents of our web page.
  %p
    To get started with your first web page using HTML, read these tutorials:
  %ul
    %li
      %a{href: 'https://www.w3schools.com/html/html_editors.asp'} basic tutorial
      &nbsp;(stop after "HTML Colors")
    %li
      %a{href: 'https://www.tutorialspoint.com/html/index.htm'} a deeper tutorial
      &nbsp;(stop after "HTML - Fonts")

  %p
    To understand how the browser is reading and interpretting your HTML page, you can use a browser's console. Each browser has their own developer console.
  %ul
    %li
      %a{href: 'https://developers.google.com/web/tools/chrome-devtools/dom/'} Chrome
    %li
      %a{href: 'https://developer.mozilla.org/en-US/docs/Tools/Page_Inspector/How_to/Open_the_Inspector'} Firefox
  %p
    The browser console is how you can debug and troubleshoot your web page code, much like how you use&nbsp;
    %code printf
    &nbsp;statements when you programmed in C.

  %p
    When using HTML, it is helpful to understand&nbsp;
    = succeed '.' do
      %a{href: 'https://www.w3schools.com/html/html_attributes.asp'} attributes

  %p
    Knowing the basic HTML tags and attributes will get you pretty far. The rest of the available tags and attributes can be learned as you go along and find a need for them. Here are some reference lists of the available&nbsp;
    %a{href: 'https://www.w3schools.com/tags/default.asp'} tags
    &nbsp;and&nbsp;
    = succeed '.' do
      %a{href: 'https://www.w3schools.com/tags/ref_attributes.asp'} attributes

  %p
    After understanding the tags available within HTML, you will need to put tags together to form an actual page. Structuring and organizing the tags to form your page will partly depend on your page's requirements and partly be an art that comes with experience. The goal is to structure and organize the tags so it is easy to understand and maintain as any other code in programming. The following page/tag structures are typical and will be a good place to start mimicking until you gain more experience:
  .grid-x
    %figure.cell.small-4.mx-auto
      %a{href: 'https://css-tricks.com/how-to-section-your-html/'}
        %img.img-thumbnail(src='https://i1.wp.com/css-tricks.com/wp-content/uploads/2019/06/sections-diagram.png')
        %figcaption.text-center
          %small Source: https://css-tricks.com/how-to-section-your-html/
    %figure.cell.small-4.mx-auto
      %a{href: 'https://www.w3schools.com/html/html_layout.asp'}
        %img.cell.small-4.img-thumbnail.mx-auto(src='https://www.w3schools.com/html/img_sem_elements.gif')
        %figcaption.text-center
          %small Source: https://www.w3schools.com/html/html_layout.asp

  %p
    From the tutorials, you should have a basic understanding of:
    %ul
      %li
        HTML's&nbsp;
        %a{href: 'https://en.wikipedia.org/wiki/HTML_element#Syntax'} syntax
      %li
        how to open a HTML page in a browser
      %li
        how to debug and troubleshoot HTML using a browser's developer tools
      %li
        basic, common HTML tags/elements
      %li
        a general idea of how to layout, organize, and structure tags within a page

