%section#html-exercises{data: {magellan: {target: 'html-exercises'}}}
  %h2 HTML Exercises
  %p
    These exercises will give you an opportunity to add and work with some basic HTML elements. Some exercises are designed to help you understand how to use HTML tags; other exercises will give you a chance to see how you would use the HTML tags to build your project.
  %p
    First, understand the core components of a HTML document&nbsp;
    = succeed '.' do
      %a{href: 'https://medium.com/@zhao.li/'} here
    -# how to setup a html file and open it in the browser
      !DOCTYPE
      html
      head
      title
      body
      comment

  %p Then get familiar using these common HTML tags:
  %ol
    %li
      %a{href: 'https://medium.com/@zhao.li/'} h1 - h6
    %li
      %a{href: 'https://medium.com/@zhao.li/'} p
    %li
      %a{href: 'https://medium.com/@zhao.li/'} a
    %li
      %a{href: 'https://medium.com/@zhao.li/'} span
    %li
      %a{href: 'https://medium.com/@zhao.li/'} img
    %li
      %a{href: 'https://medium.com/@zhao.li/'} table
    %li
      %a{href: 'https://medium.com/@zhao.li/'} ul &amp; ol
    %li
      %a{href: 'https://medium.com/@zhao.li/'} div, header, footer, &amp; nav
