%section#html{data: {magellan: {target: 'html'}}}
  %h2 HTML
  %p
    %a{href: 'https://www.w3schools.com/html/html_intro.asp'} HTML
    &nbsp;stands for Hyper Text Markup Language. We will use HTML to define the contents of our web page.
  %p
    To get started with your first web page using HTML, read this&nbsp;
    = succeed '. ' do
      %a{href: 'https://www.w3schools.com/html/html_editors.asp'} tutorial
    From the tutorial, you should have a basic understanding of HTML's&nbsp;
    = succeed '.' do
      %a{href: 'https://en.wikipedia.org/wiki/HTML_element#Syntax'} syntax

  %p
    To understand how the browser is reading and interpretting your HTML page, you can use a browser's console. Each browser has their own developer console.
    %ul
      %li
        %a{href: 'https://developers.google.com/web/tools/chrome-devtools/dom/'} Chrome
      %li
        %a{href: 'https://developer.mozilla.org/en-US/docs/Tools/Page_Inspector/How_to/Open_the_Inspector'} Firefox
    The browser console is how you can debug and troubleshoot your web page code, much like how you use&nbsp;
    %code printf
    &nbsp;statements when you programmed in C.

  %p
    Getting better at HTML is a matter of learning to use more HTML tags, like the ones listed&nbsp;
    = succeed '.' do
      %a{href: 'https://www.w3schools.com/tags/default.asp'} here
