%section#html-exercises{data: {magellan: {target: 'html-exercises'}}}
  %h2 HTML Exercises
  %p
    These exercises will give you an opportunity to add and work with some basic HTML elements. Some exercises are designed to help you understand how to use HTML tags; other exercises will give you a chance to see how you would use the HTML tags to build your project.
  %p Get familiar using these common HTML tags by adding them to your web page:
  %ol
    %li
      %a{href: 'https://www.w3schools.com/tags/tag_hn.asp'} h1 - h6
    %li
      %a{href: 'https://www.w3schools.com/tags/tag_p.asp'} p
    %li
      %a{href: 'https://www.learn-html.org/en/Links'} a
    %li
      %a{href: 'https://www.w3schools.com/tags/tag_span.asp'} span
    %li
      %a{href: 'https://www.learn-html.org/en/Images'} img
    %li
      %a{href: 'https://www.w3schools.com/tags/tag_table.asp'} table
    %li
      %a{href: 'https://www.learn-html.org/en/Lists'} ul &amp; ol
    %li
      %a{href: 'https://www.w3schools.com/html/html5_semantic_elements.asp'} div, header, footer, &amp; nav
      %ul
        %li
          %a{href: 'https://stackoverflow.com/questions/33024193/why-do-we-need-footer-nav-elements-when-we-can-use-div'} more explaination on semantic HTML

  %p Get familiar using these common HTML attributes by adding them to your web page:
  %ol
    %li
      %a{href: 'https://htmldog.com/references/html/globalattributes/'} id
    %li
      %a{href: 'https://htmldog.com/references/html/globalattributes/'} class

  %p
    If you want to learn more about HTML, take a look at these resources:
    %ul
      %li
        %a{href: 'https://www.learn-html.org/en/Basic_Elements'} basic HTML tags and attributes
      %li
        %a{href: 'https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started'} Mozilla's HTML Tutorial
      %li
        %a{href: 'https://www.learn-html.org/'} Learn HTML &amp; CSS
      %li
        %a{href: 'https://cs50.harvard.edu/web/#html-css'} CS50's Web Follow On
