%section#javascript{data: {magellan: {target: 'javascript'}}}
  %h2 JavaScript
  %p
    We will use&nbsp;
    %a{href: 'https://www.w3schools.com/jS/default.asp'} JavaScript (JS)
    &nbsp;to program the behavior of our web page.
  %p
    To add JavaScript to your first web page, read these tutorials:
    %ul
      %li
        %a{href: 'https://www.w3schools.com/js/js_whereto.asp'} how to add JS functionality to a page (external JavaScript is the recommended way)
      %li
        %a{href: 'https://www.w3schools.com/js/'} basic tutorial (stop after "JS Array Iteration")
      %li
        %a{href: 'https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model/Introduction'} JavaScript interacts with the HTML elements using the Document Object Model (DOM)

  %p
    To understand how the browser is reading and interpretting your JS code, you can use a browser's console. Each browser has their own developer console.
  %ul
    %li
      %a{href: 'https://developers.google.com/web/tools/chrome-devtools/dom/'} Chrome
    %li
      %a{href: 'https://developer.mozilla.org/en-US/docs/Tools/Page_Inspector/How_to/Open_the_Inspector'} Firefox
  %p
    The browser console is how you can debug and troubleshoot your web page code, much like how you use&nbsp;
    %code printf
    &nbsp;statements when you programmed in C.

  %p A very common pattern in JavaScript is to wait/listen for an event and then take some action after that event happens, aka the event is triggered. For example, wait for a button to be pressed and then change a text once the button is pressed. We generally target elements by their id, class, and/or attribute(s) to listen to. And then trigger changes to the same or another target element's class and/or attribute(s).

  %p Knowing this basic pattern will get you pretty far. The rest of the available techniques, nuances, and tricks can be learned as you go along and find a need for them.

  %p
    For this course, it is recommended that you use a JavaScript library like&nbsp;
    %a{href: 'https://jquery.com/'} jQuery
    &nbsp;and/or&nbsp;
    %a{href: 'https://getbootstrap.com/'} Bootstrap
    &nbsp;to free yourself from building everything from scratch.

  %p
    Read through jQuery's&nbsp;
    %a{href: 'https://api.jquery.com/'} API
    &nbsp;to get familiar with the different events and actions you can use in your program.

  %p
    Look through Bootstrap's&nbsp;
    %a{href: 'https://getbootstrap.com/docs/4.3/getting-started/introduction://getbootstrap.com/docs/4.3/getting-started/introduction/'} documentation 
    &nbsp;to get familiar with the different layouts and components you can use on your page.
