%section#html-exercises{data: {magellan: {target: 'javascript-exercises'}}}
  %h2 JavaScript Exercises
  %p
    These exercises will give you an opportunity to add and work with some basic JavaScript. Some exercises are designed to help you understand how to use JavaScript; other exercises will give you a chance to see how you would use the JavaScript to build your project.
  %p
    First, understand how JavaScript is injected into a HTML document&nbsp;
    = succeed '.' do
      %a{href: 'https://medium.com/@zhao.li/'} here
    -# how to include JavaScript into a html file and open it in the browser
      script tag
      best practice is to separate the JavaScript code from the HTML to keep things readable and maintable
      https://www.w3schools.com/jS/js_whereto.asp

  %p Then get familiar using these common jQuery/Bootstrap features:
  %ol
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Targeting/Finding
      -# https://api.jquery.com/category/selectors/
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Events
      -# https://api.jquery.com/category/events/
        .bind()
        .unbind()
        .click()
        .live()
        .die()
        .hover()
        .on()
        .off()
        .toggle()
        .change()
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Actions
      -# https://api.jquery.com/category/attributes/
        .hasClass()
        .addClass()
        .removeClass()
        .attr()
        .toggleClass()
      -# https://api.jquery.com/category/css/
        .css()
      -# https://api.jquery.com/category/manipulation/
        .after()
        .before()
        .append()
        .appendTo()
        .prepend()
        .prependTo()
        .remove()
        .replaceAll()
        .replaceWith()
      -# https://api.jquery.com/category/effects/
        .fadeIn()
        .fadeOut()
        .fadeToggle()
        .hide()
        .show()
        .toggle()
        .slideUp()
        .slideDown()
        .slideToggle()
      -# https://api.jquery.com/category/forms/
        .blur()
        .focus()
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Traversing
      -# https://api.jquery.com/category/traversing/
        .add()
        .children()
        .each()
        .filter()
        .find()
        .first()
        .last()
        .has()
        .not()
        .parent()
        .parents()
        .siblings()
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Layout, Container, &amp; Grid
      -# https://getbootstrap.com/docs/4.1/layout/overview/
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Alerts
      -# https://getbootstrap.com/docs/4.1/components/alerts/
    %li
      %a{href: 'https://medium.com/@zhao.li/'} NavBar
      -# https://getbootstrap.com/docs/4.1/components/navbar/
    %li
      %a{href: 'https://medium.com/@zhao.li/'} Borders
      -# https://getbootstrap.com/docs/4.1/utilities/borders/
