%section#javascript-exercises{data: {magellan: {target: 'javascript-exercises'}}}
  %h2 JavaScript Exercises
  %p
    These exercises will give you an opportunity to add and work with some basic JavaScript. Some exercises are designed to help you understand how to use JavaScript; other exercises will give you a chance to see how you would use the JavaScript to build your project.
  %p Get familiar using these common jQuery/Bootstrap features/concepts:
  %ol
    %li
      Querying/Selecting/Filtering elements to operate on
      %ul
        %li The syntax is very similar to CSS selectors
        %li
          Be familiar with JQuery's list of&nbsp;
          %a{href: 'https://api.jquery.com/category/selectors/'} selectors
          %ul
            Specifically:
            %li
              %code
                %a{href: 'https://api.jquery.com/id-selector/'} #id
            %li
              %code
                %a{href: 'https://api.jquery.com/class-selector/'} .class
            %li
              %code
                %a{href: 'https://api.jquery.com/element-selector/'} element
            %li
              %code
                %a{href: 'https://api.jquery.com/has-attribute-selector/'} [attribute_exists]
            %li
              %code
                %a{href: 'https://api.jquery.com/attribute-equals-selector/'} [attribute=value]
            %li
              %code
                %a{href: 'https://api.jquery.com/descendant-selector/'} ancestor descendent
            %li
              %code
                %a{href: 'https://api.jquery.com/child-selector/'} parent &gt; child
            %li
              %code
                %a{href: 'https://api.jquery.com/multiple-attribute-selector/'} [multiple_attribute1][multiple_attribute2]
            %li
              %code
                %a{href: 'https://api.jquery.com/multiple-selector/'} multiple_selector1,multiple_selector2
            %li
              compounding many of these selectors together
        %li
          Be familiar with JQuery's list of&nbsp;
          %a{href: 'https://api.jquery.com/category/traversing/'} traversing methods
          %ul
            Specifically:
            %li
              %code
                %a{href: 'https://api.jquery.com/add/'} .add()
            %li
              %code
                %a{href: 'https://api.jquery.com/children/'} .children()
            %li
              %code
                %a{href: 'https://api.jquery.com/each/'} .each()
            %li
              %code
                %a{href: 'https://api.jquery.com/filter/'} .filter()
            %li
              %code
                %a{href: 'https://api.jquery.com/find/'} .find()
            %li
              %code
                %a{href: 'https://api.jquery.com/first/'} .first()
            %li
              %code
                %a{href: 'https://api.jquery.com/last/'} .last()
            %li
              %code
                %a{href: 'https://api.jquery.com/has/'} .has()
            %li
              %code
                %a{href: 'https://api.jquery.com/not/'} .not()
            %li
              %code
                %a{href: 'https://api.jquery.com/parent/'} .parent()
            %li
              %code
                %a{href: 'https://api.jquery.com/parents/'} .parents()
            %li
              %code
                %a{href: 'https://api.jquery.com/siblings/'} .siblings()
            %li
              %a{href: 'https://discuss.codecademy.com/t/can-you-chain-traversal-methods/389105'} chaining traversal methods together
    %li
      Listening for events that happen on the selected element(s)
      %ul
        %li
          %a{href: 'https://learn.jquery.com/events/event-basics/'} More on events
        %li
          Be familiar with JQuery's list of&nbsp;
          %a{href: 'https://api.jquery.com/category/events/'} events
          %ul
            Specifically:
            %li
              %code
                %a{href: 'https://api.jquery.com/click/'} .click()
            %li
              %code
                %a{href: 'https://api.jquery.com/hover/'} .hover()
            %li
              %code
                %a{href: 'https://api.jquery.com/on/'} .on()
            %li
              %code
                %a{href: 'https://api.jquery.com/off/'} .off()
            %li
              %code 
                %a{href: 'https://api.jquery.com/change/'} .change()
            %li
              %code
                %a{href: 'https://api.jquery.com/blur/'} .blur()
            %li
              %code
                %a{href: 'https://api.jquery.com/focus/'} .focus()
        %li
          JQuery also has some events specifically related to&nbsp;
          %a{href: 'https://api.jquery.com/category/forms/'} forms
    %li
      Performing/Triggering actions after an event has occurred
      %ul
        %li
          Be familiar with JQuery's list of&nbsp;
          %a{href: 'https://api.jquery.com/category/effects/'} effects
          %ul
            Specifically:
            %li
              %code
                %a{href: 'https://api.jquery.com/fadeIn/'} .fadeIn()
            %li
              %code
                %a{href: 'https://api.jquery.com/fadeOut/'} .fadeOut()
            %li
              %code
                %a{href: 'https://api.jquery.com/fadeToggle/'} .fadeToggle()
            %li
              %code
                %a{href: 'https://api.jquery.com/hide/'} .hide()
            %li
              %code
                %a{href: 'https://api.jquery.com/show/'} .show()
            %li
              %code
                %a{href: 'https://api.jquery.com/toggle/'} .toggle()
            %li
              %code
                %a{href: 'https://api.jquery.com/slideUp/'} .slideUp()
            %li
              %code
                %a{href: 'https://api.jquery.com/slideDown/'} .slideDown()
            %li
              %code
                %a{href: 'https://api.jquery.com/slideToggle/'} .slideToggle()
        %li
          Be familiar with JQuery's list of&nbsp;
          %a{href: 'https://api.jquery.com/category/manipulation/'} DOM (aka HTML &amp; CSS) Manipulations
          %ul
            Specifically:
            %li
              %ul
                The methods that manipulate HTML tags:
                %li
                  %code
                    %a{href: 'https://api.jquery.com/after/'} .after()
                %li
                  %code
                    %a{href: 'https://api.jquery.com/before/'} .before()
                %li
                  %code
                    %a{href: 'https://api.jquery.com/append/'} .append()
                %li
                  %code
                    %a{href: 'https://api.jquery.com/appendTo/'} .appendTo()
                %li
                  %code
                    %a{href: 'https://api.jquery.com/prepend/'} .prepend()
                %li
                  %code
                    %a{href: 'https://api.jquery.com/prependTo/'} .prependTo()
                %li
                  %code
                    %a{href: 'https://api.jquery.com/remove/'} .remove()
                %li
                  %code
                    %a{href: 'https://api.jquery.com/replaceAll/'} .replaceAll()
                %li
                  %code
                    %a{href: 'https://api.jquery.com/replaceWith/'} .replaceWith()
            %li
              %ul
                The methods that manipulate&nbsp;
                %a{href: 'https://api.jquery.com/category/attributes/'} HTML attributes
                &nbsp;and&nbsp;
                %a{href: 'https://api.jquery.com/category/css/'} CSS
                \:
                %li
                  %code
                    %a{href: 'https://api.jquery.com/hasClass/'} .hasClass()
                %li
                  %code
                    %a{href: 'https://api.jquery.com/addClass/'} .addClass()
                %li
                  %code
                    %a{href: 'https://api.jquery.com/removeClass/'} .removeClass()
                %li
                  %code
                    %a{href: 'https://api.jquery.com/toggleClass/'} .toggleClass()
                %li
                  %code
                    %a{href: 'https://api.jquery.com/attr/'} .attr()
                %li
                  %code
                    %a{href: 'https://api.jquery.com/css/'} .css()
    %li
      %a{href: 'https://getbootstrap.com/docs/5.0/layout/grid/'} Add some content using Bootstrap's layout, container, &amp; grid system
    %li
      %a{href: 'https://getbootstrap.com/docs/5.0/components/alerts/'} Style some text with Bootstrap alerts
    %li
      %a{href: 'https://getbootstrap.com/docs/5.0/components/navbar/'} Add a Bootstrap NavBar
    %li
      %a{href: 'https://getbootstrap.com/docs/5.0/utilities/borders/'} Style some HTML element with Bootstrap borders

  %p
    If you are stuck, you can reference this example web page that is one possible solution to our exercise (submitted by a previous student):&nbsp;
    %a{href: 'https://github.com/ee491f/ciaguila-jsexercise-jquery-2021'} an example solution

  %p
    If you want to learn more about JS, take a look at these resources:
    %ul
      %li
        %a{href: 'https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/JavaScript_basics'} Mozilla's JS Tutorial
      %li
        %a{href: 'http://www.learn-js.org/'} Learn JS
      %li
        %a{href: 'https://cs50.harvard.edu/web/#javascript'} CS50's Web Follow On
      %li
        %a{href: 'https://www.w3schools.com/jquery/jquery_ref_overview.asp'} W3 School's Documentation on JQuery
        %ul
          %li
            %a{href: 'https://www.w3schools.com/jquery/jquery_ref_selectors.asp'} Selectors
          %li
            %a{href: 'https://www.w3schools.com/jquery/jquery_ref_traversing.asp'} Traversing
          %li
            %a{href: 'https://www.w3schools.com/jquery/jquery_ref_events.asp'} Events
          %li
            %a{href: 'https://www.w3schools.com/jquery/jquery_ref_effects.asp'} Effects
          %li
            %a{href: 'https://www.w3schools.com/jquery/jquery_ref_html.asp'} Manipulating the DOM (aka HTML &amp; CSS)
