.sidebar
  %nav#menu.nav.navbar.flex-column.nav-pills.navbar-light
    %a.navbar-brand.wrap{href: '/'} EE491F
    %ul.vertical.menu.drilldown{data: {drilldown: true}}
      %li.nav-item
        %a.nav-link{href: '#project'} Project
        %ul.vertical.menu.nested
          %li
            %a.nav-link{href: '#requirements'} Requirements
          %li
            %a.nav-link{href: '#rubric'} Rubric
      %li.nav-item
        %a.nav-link{href: '#version-control-system'} Version Control System
        %ul
          %li
            %a.nav-link{href: '#git'} Git
          %li
            %a.nav-link{href: '#github'} GitHub
      %li.nav-item
        %a.nav-link{href: '#containers'} Containers
        %ul
          %li
            %a.nav-link{href: '#docker'} Docker
          %li
            %a.nav-link{href: '#docker-compose'} Docker-Compose
      %li.nav-item
        %a.nav-link{href: '#front-end'} Front End
        %ul
          %li
            %a.nav-link{href: '#html'} HTML
          %li
            %a.nav-link{href: '#css'} CSS
          %li
            %a.nav-link{href: '#javascript'} JavaScript
      %li.nav-item
        %a.nav-link{href: '#back-end'} Back End
        %ul
          %li
            %a.nav-link{href: '#python'} Python
          %li
            %a.nav-link{href: '#django'} Django
          %li
            %a.nav-link{href: '#postgresql'} PostgreSQL
      %li.nav-item
        %a.nav-link{href: '#production'} Production
        %ul
          %li
            %a.nav-link{href: '#heroku'} Heroku
