%nav
  %a{href: '#'} EE491F
  %ul.vertical.menu{data: {drilldown: true}}
    %li
      %a{href: '#syllabus'} Syllabus
    %li
      %a{href: '#project'} Project
      %ul.menu.vertical.nested
        %li
          %a{href: '#requirements'} Requirements
        %li
          %a{href: '#rubric'} Rubric
    %li
      %a{href: '#development-environment'} Development Environment
    %li
      %a{href: '#version-control-system'} Version Control System
      %ul.menu.vertical.nested
        %li
          %a{href: '#git'} Git
        %li
          %a{href: '#github'} GitHub
        %li
          %a{href: '#git-github-exercises'} Git &amp; GitHub Exercises
    %li
      %a{href: '#containers'} Containers
      %ul.menu.vertical.nested
        %li
          %a{href: '#docker'} Docker
        %li
          %a{href: '#docker-compose'} Docker-Compose
        %li
          %a{href: '#docker-compose-exercises'} Docker-Compose Exercises
    %li
      %a{href: '#front-end'} Front End
      %ul.menu.vertical.nested
        %li
          %a{href: '#html'} HTML
        %li
          %a{href: '#html-exercises'} HTML Exercises
        %li
          %a{href: '#css'} CSS
        %li
          %a{href: '#javascript'} JavaScript
    %li
      %a{href: '#back-end'} Back End
      %ul.menu.vertical.nested
        %li
          %a{href: '#python'} Python
        %li
          %a{href: '#django'} Django
        %li
          %a{href: '#postgresql'} PostgreSQL
    %li
      %a{href: '#production'} Production
      %ul.menu.vertical.nested
        %li
          %a{href: '#heroku'} Heroku
