.support-information
  For questions, comments, or concerns please post to&nbsp;
  %a{href: 'https://discord.com/channels/857105724424978442/857105724424978448'} Discord #help channel
.contribute-statement
  Feedback for this site can be provided at&nbsp;
  %a{href: 'https://github.com/ee491f/course-material'} https://github.com/ee491f/course-material

