.support-information
  For questions, comments, or concerns please email the class &nbsp;
  %a{href: 'mailto:main+int+1234+2857229824036714752@university-of-hawaii-ee491f.groups.io'} mailing list
.contribute-statement
  Feedback for this site can be provided at&nbsp;
  %a{href: 'https://github.com/ee491f/course-material'} https://github.com/ee491f/course-material

