%section#next-steps{data: {magellan: {target: 'next-steps'}}}
  %h2 Where To Go From Here
  %p In this course, you have built a web application using the Django framework and deployed the application on to the Internet using Heroku.
  %p The web application you have built uses an architecture that is a bit outdated. However, it is simplest in terms of learning and getting started. That is the reason why it was chosen.
  %p If you enjoyed building a web application, then you can consider splitting up the Django appliation to a separate frontend application (e.g. VueJS, ReactJS, etc.) and a separate backend application (i.e. use Django as just a REST API server). Most modern web applications are structured in this manner. With a separate backend service (e.g. REST API server), the application can support multiple frontends (e.g. web browser, mobile app, etc.).
  %p If you enjoyed stitching the different containers and services together, then you can consider looking into doing more devops (e.g. continuous integration and continuous deployment, the service Heroku provides), infrastructure (e.g. cloud), or architecture (e.g. microservices, high-level system overview).
  %p
    Choose what you enjoy and you won't go wrong. If you don't know what you enjoy yet, then try a bit of each and see which one&nbsp; 
    %a{href: 'https://www.youtube.com/watch?v=9AvWs2X-bEA'} sparks joy
    &nbsp;for you.
  %p
    Good luck to you and&nbsp;
    = succeed '.' do
      %a{href: 'https://www.youtube.com/watch?v=VHWUCX6osgM&feature=youtu.be&t=1289'} stay hungry, stay foolish
