%section#peer-review{data: {magellan: {target: 'peer-review'}}}
  %h3 Peer Review
  %p A peer review is submitted along with the project to provide feedback to team members regarding their contributions to the project.
  %p
    Each group member will <b>divide 100 points</b> to each of the other members.&nbsp;
    Additionally, each group member will give a <b>1-2 sentence feedback</b> for the other members.&nbsp;
    Feedback will be forwarded <b>anonymously</b> so everyone can be comfortable giving honest feedback.
  %p
    For projects with only 1 developer, please submit that it was a group of 1.
    It is possible to not allocate the entire 100 points.
  %h4 Examples
  %h5 Example 1:
  %p A group consists of DeveloperA, DeveloperB, and DeveloperC. And DeveloperA feels <b>everyone contributed equally</b>.
  %table.table-bordered.hover
    %caption Example 1: Everyone Contributed Equally
    %thead
      %tr
        %th Team Member
        %th Points Allocated
    %tbody
      %tr
        %td DeveloperA
        %td N/A (don't assign points to yourself)
      %tr
        %td DeveloperB
        %td 50: DeveloperB contributed equally.
      %tr
        %td DeveloperC
        %td 50: DeveloperC contributed equally.
    %tfoot
      %tr
        %td Total Points Allocated
        %td 100
  %h5 Example 2:
  %p A group consists of DeveloperA, DeveloperB, and DeveloperC. And DeveloperA feels <b>not everyone contributed equally</b>.
  %table.table-bordered.hover
    %caption Example 2: Not Everyone Contributed Equally
    %thead
      %tr
        %th Team Member
        %th Points Allocated
    %tbody
      %tr
        %td DeveloperA
        %td N/A (don't assign points to yourself)
      %tr
        %td DeveloperB
        %td 70: DeveloperB contributed a lot of work for the project.
      %tr
        %td DeveloperC
        %td 20: DeveloperC could have contributed more work for the project.
    %tfoot
      %tr
        %td Total Points Allocated
        %td 90
  %h5 Example 3:
  %p DeveloperA was the <b>single developer</b> for the project.
  %table.table-bordered.hover
    %caption Example 3: Single Developer
    %thead
      %tr
        %th Team Member
        %th Points Allocated
    %tbody
      %tr
        %td DeveloperA
        %td N/A: I worked on the project by myself. (don't assign points to yourself)
    %tfoot
      %tr
        %td Total Points Allocated
        %td N/A
  %p
    Some final notes:
  %ul
    %li If a student does not provide any submission, then the 100 points will be <b>divided evenly</b> among his/her group members and the student will <b>receive 0 points</b> for the peer review assignment.
    %li Be sure to add 1 or 2 sentences to provide a rationale for your points assignment. These rationales can be provided to your teammate should they ask for it. Rationales will be forwarded anonymously so everyone can comfortable giving honest feedback.
    %li
      Examples of how team member contribution points are aggregated:&nbsp;
      %a{href: 'https://docs.google.com/spreadsheets/d/11W1TT5pnN3IX3p32wWKc82UT75e41wKXSwOhAdRpUdc/edit?usp=sharing'} https://docs.google.com/spreadsheets/d/11W1TT5pnN3IX3p32wWKc82UT75e41wKXSwOhAdRpUdc/edit?usp=sharing

