%section#postgresql-exercises{data: {magellan: {target: 'postgresql-exercises'}}}
  %h2 PostgreSQL Exercises
  %p
    For these exercises, we will play around with PostgreSQL using SQL and Python. People who work primarily with databases (aka database administrators) will normally use SQL, but (web) application developers will normally use an&nbsp;
    %a{href: 'https://en.wikipedia.org/wiki/Object-relational_mapping'} object relational mapping
    &nbsp;library to interact with the PostgreSQL database. ORMs allow developers to work with a database using the application's programming language (e.g. Python in our case).
  %p
    Django's ORM library is the engine/library that allows you and your application to interact with the database thru Django's&nbsp;
    %a{href: 'https://docs.djangoproject.com/en/2.0/topics/db/'} models
    &nbsp;and&nbsp;
    = succeed '. ' do
      %a{href: 'https://tutorial.djangogirls.org/en/django_orm/'} QuerySets
    Django's ORM will translate your application Python code into SQL commands that PostgreSQL will understand.

  %p
    Go through the&nbsp;
    %a{href: 'https://www.postgresql.org/docs/devel/static/tutorial-sql.html'} PostgreSQL tutorials
    &nbsp;using the&nbsp;
    %a{href: 'https://medium.com/analytics-vidhya/getting-started-with-postgresql-using-docker-compose-34d6b808c47c?sk=493359a3d372f1788733a9b0374d779d'} "Getting Started with PostgreSQL using Docker-Compose" tutorial
    's PostgreSQL database container
    &nbsp;to learn how to:
  %ul
    %li
      %a{href: 'https://www.postgresql.org/docs/devel/static/tutorial-table.html'} create a table
    %li
      %a{href: 'https://www.postgresql.org/docs/devel/static/tutorial-populate.html'} add data to a table
      &nbsp;(aka insert)
    %li
      %a{href: 'https://www.postgresql.org/docs/devel/static/tutorial-select.html'} search a table for data
      &nbsp;(aka query, select)
    %li
      %a{href: 'https://www.postgresql.org/docs/devel/static/tutorial-update.html'} update data in a table
    %li
      %a{href: 'https://www.postgresql.org/docs/devel/static/tutorial-delete.html'} delete data in a table
    %li
      %a{href: 'https://www.postgresql.org/docs/devel/static/tutorial-join.html'} join data across tables

  %p
    Our end-goal is to create a Django application so it is best to know how to use a database by leveraging the Django framework.&nbsp;
    Go through the&nbsp;
    %a{href: 'https://tutorial.djangogirls.org/en/django_models/'} Django Girls tutorials
    &nbsp;using the&nbsp;
    %a{href: 'https://medium.com/analytics-vidhya/an-example-django-project-in-containers-cc29121df310?sk=64d84594e93870c766548f79791db8bf'} "An Example Django Project in Containers" tutorial
    's Django application 
    &nbsp;to learn how to:
  %ul
    %li
      %a{href: 'https://tutorial.djangogirls.org/en/django_models/#creating-a-blog-post-model'} create a model
      &nbsp;(Section "Creating a blog post model")
    %li
      %a{href: 'https://tutorial.djangogirls.org/en/django_models/#create-tables-for-models-in-your-database'} create/run migrations to support a model
      &nbsp;(Section "Create tables for models in your database")
    %li
      %a{href: 'https://tutorial.djangogirls.org/en/django_orm/#all-objects'} use a model to fetch data
      &nbsp;(Section "All objects")
    %li
      %a{href: 'https://tutorial.djangogirls.org/en/django_orm/#create-object'} use a model to create data
      &nbsp;(Section "Create object")
    %li
      %a{href: 'https://tutorial.djangogirls.org/en/django_orm/#filter-objects'} use a model to do a more advanced search on the data
      &nbsp;(Sections "Filter objects", "Ordering objects", and "Complex queries through method-chaining")

  %p
    Note: Django defaults to using the SQLite3 database if it is not configured to use any particular database, like PostgreSQL.&nbsp;
    But the ORM handles all of that transparently to the developer, so it doesn't really matter which database we're using for this particular exercise as long as we are using the ORM to interact with it.

  %p
    If you want to learn more about PostgreSQL, take a look at these resources:
    %ul
      %li
        %a{href: 'https://cs50.harvard.edu/web/#sql'} CS50's Web Follow On

  %p
    If you still have more time to spare and would like to go beyond the scope of this course, check out this site for more practice:
  %ul
    %li
      %a{href: 'https://pgexercises.com/questions/basic/'} SQL Practice Exercises

