%section#postgresql{data: {magellan: {target: 'postgresql'}}}
  %h2 PostgreSQL
  %p
    %a{href: 'https://www.postgresql.org/'} PostgreSQL
    &nbsp;is a database.&nbsp;
    %a{href: 'https://en.wikipedia.org/wiki/Database'} Databases
    &nbsp;are software used to store, access, and interact with data.&nbsp;
    A&nbsp;
    %a{href: 'https://en.wikipedia.org/wiki/Query_language'} query language
    &nbsp;is the language/syntax used to interact with the data inside a database.&nbsp;
    The PostgreSQL database supports the&nbsp;
    = succeed '.' do
      %a{href: 'https://en.wikipedia.org/wiki/SQL'} structured query language (SQL)

  %p
    To get started using postgreSQL, read this&nbsp;
    = succeed '.' do
      %a{href: 'https://medium.com/@zhao.li/'} tutorial
    -# how to download and interact with the postgreSQL database
    -# show version
    -# show entering/exiting SQL prompt
