%section#postgresql{data: {magellan: {target: 'postgresql'}}}
  %h2 PostgreSQL
  %p
    %a{href: 'https://www.postgresql.org/'} PostgreSQL
    &nbsp;is a database.&nbsp;
    %a{href: 'https://en.wikipedia.org/wiki/Database'} Databases
    &nbsp;are software used to store, access, and interact with data.&nbsp;
    A&nbsp;
    %a{href: 'https://en.wikipedia.org/wiki/Query_language'} query language
    &nbsp;is the language/syntax used to interact with the data inside a database.&nbsp;
    The&nbsp;
    %a{href: 'https://www.postgresql.org/docs/current/features.html'} PostgreSQL database supports
    &nbsp;the&nbsp;
    = succeed '.' do
      %a{href: 'https://en.wikipedia.org/wiki/SQL'} structured query language (SQL)

  %p
    To get started using postgreSQL, read this&nbsp;
    = succeed '.' do
      %a{href: 'https://medium.com/analytics-vidhya/getting-started-with-postgresql-using-docker-compose-34d6b808c47c?sk=493359a3d372f1788733a9b0374d779d'} "Getting Started with PostgreSQL using Docker-Compose" tutorial

  %p
    Once you have your own instance of PostgreSQL to use, you can reference the PostgreSQL documentation to learn more about the different capabilities this database gives you:&nbsp;
    %a{href: 'http://www.tutorialspoint.com/postgresql/'} http://www.tutorialspoint.com/postgresql/
    &nbsp;(reading up to "PostgreSQL - Distinct Keyword" is sufficient)

  %p
    For additional reference tutorials, these can be helpful:
    %ul
      %li
        %a{href: 'https://www.saltycrane.com/blog/2019/01/how-run-postgresql-docker-mac-local-development/'} https://www.saltycrane.com/blog/2019/01/how-run-postgresql-docker-mac-local-development/ 
