%section#project{data: {magellan: {target: 'project'}}}
  %h2 Project
  %p
    The <b>goal</b> of this course is for every student or team of students to build a web application that interacts with data and is accessible by anyone on the Internet.
    All of the exercises at the beginning of the course is aimed at teaching you the tools and technologies needed to accomplish <b>deploying your project on to the Internet</b>.
  {% haml requirements.haml %}
  {% haml rubric.haml %}
