%section#python-exercises{data: {magellan: {target: 'python-exercises'}}}
  %h2 Python Exercises
  %p
    These exercises will give you an opportunity to add and work with some basic Python. Some exercises are designed to help you understand how to use Python; other exercises will give you a chance to see how you would use the Python to build your project.
  %p
    Work out the exercises on this&nbsp;
    %a{href: 'https://www.practicepython.org/exercises/'} page
    &nbsp;that has 1 or 2 chili peppers. The exercises with 3 or more chili peppers might take up too much time and detract you away from your final project. However, if you have time to spare, feel free to try out the more difficult exercises.

  %p
    Combine what you know about Python and containers to:
  %ul
    %li
      run Python scripts inside a container
    %li
      run Python interactively inside a container

  %p
    If you still have more time to spare and would like to go beyond the scope of this course, check out these sites for more practice:
  %ul
    %li
      %a{href: 'http://exercism.io/languages/python/exercises'} exercism.io
    %li
      %a{href: 'http://codingbat.com/python'} Coding Bat
    %li
      %a{href: 'https://github.com/zhiwehu/Python-programming-exercises/blob/master/100%2B%20Python%20challenging%20programming%20exercises.txt'} random collection from the community
    %li
      %a{href: 'https://codegolf.stackexchange.com/'} Generic programing exercises in different languages
