%section#python{data: {magellan: {target: 'python'}}}
  %h2 Python
  %p
    We will use&nbsp;
    %a{href: 'https://www.python.org/'} Python
    &nbsp;to program the server.

  %p
    Get a basic understanding of Python by going through the tutorials on&nbsp;
    = succeed '. ' do
      %a{href: 'https://www.learnpython.org/'} learnpython.org
    It is sufficient to stop at "Modules and Packages" under "Learn the Basics". Note that the exercises in "Modules and Packages" error out so feel free to just read through it and skip those exercises.

  %p
    Get a basic understanding of how to run Python:
  %ul
    %li
      %a{href: 'https://realpython.com/run-python-scripts/#how-to-run-python-scripts-using-the-command-line'} run Python code as scripts
    %li
      %a{href: 'https://realpython.com/run-python-scripts/#how-to-run-python-code-interactively'} test Python code by running it interactively

  %p
    To learn more about Python, then go through the remaing tutorials on &nbsp;
    = succeed ', ' do
      %a{href: 'https://www.learnpython.org/'} learnpython.org
    namely up to "Map, Filter, Reduce" under "Advanced Tutorials".
