%section#python{data: {magellan: {target: 'python'}}}
  %h2 Python
  %p
    We will use&nbsp;
    %a{href: 'https://www.python.org/'} Python
    &nbsp;to program the server.
  %p
    To create your first Python script, read this&nbsp;
    = succeed '.' do
      %a{href: 'https://medium.com/@zhao.li/'} tutorial
    -# how to create and run a python file in our container
      explain interactive python console
  %p
    To add more Python to your Python script, read this&nbsp;
    = succeed '.' do
      %a{href: 'https://medium.com/@zhao.li'} tutorial
  -# move to Medium
    %p
      The basic component of Python are statements, just like traditional languages like C and C++. We define a Python statement using values, operators, expressions, keywords, and comments:
      https://www.learnpython.org/
    %p
      An example basic Python statement would be this&nbsp;
      = succeed ':' do
        %a{href: 'https://www.learnpython.org/en/Hello%2C_World%21'} print("Hello World")

    learn about Python's
      Hello, World!
      Variables and Types
      Lists
      Basic Operators
      String Formatting
      Basic String Operations
      Conditions
      Loops
      Functions
      Classes and Objects
      Dictionaries
      Modules and Packages

    to learn more about Python, then go through more tutorials, like these:
    https://www.learnpython.org/
    https://www.codecademy.com/learn/learn-python
  %p
    To learn more about Python, then go through more tutorials, like these:
  %ul
    %li
      %a{href: 'https://www.learnpython.org/'} Learn Python
    %li
      %a{href: 'https://www.codecademy.com/learn/learn-python'} Codecademy
