%section#requirements{data: {magellan: {target: 'requirements'}}}
  %h3 Requirements
  %p Students and student teams can choose a project that they are most <b>interested</b> in. If you have an idea you always wanted to build or would like to see available to the world, those will make the best projects.
  %p The project you decide to build must meet these requirements:
  %ul
    %li The project shall be <b>accessible on the Internet</b>.
    %li
      <b>Any user</b> shall be able to interact with the project without doing a lot of setup.
      %ul
        %li For example, a user should be able to interact with your project using only their <b>web browser</b>.
    %li
      The project shall be <b>dynamic</b> and not static.
      %ul
        %li
          For example, the project cannot be a static website, like the one you are reading.&nbsp;
          <b>Data</b> needs to be able to change without the code changing and the website will change to reflect the updated data.
  %p
    <b>Web applications</b> lend itself to these requirements extremely well.&nbsp;
    Anyone with a web browser and Internet access can interact with the project.&nbsp;
    However, if there is a project you want to build that does not meet these requirements, please <b>propose</b> it to the instructor and we can work together to make it fit this course.
    
