%section#requirements{data: {magellan: {target: 'requirements'}}}
  %h3 Requirements
  %p Students and student teams can choose a project that they are most interested in. If you have an idea you always wanted to build or would like to see available to the world, those will make the best projects.
  %p The project you decide to build must meet these requirements:
  %ul
    %li The project shall be accessible on the Internet.
    %li
      Any user shall be able to interact with the project without doing a lot of setup.
      %ul
        %li For example, a user should be able to interact with your project using their web browser.
    %li
      The project shall be dynamic and not static.
      %ul
        %li For example, the project cannot be a static website, like the one you are reading. Data needs to be able to change without the code changing and the website will change to reflect the updated data.
  %p Web applications lend itself to these requirements extremely well. Anyone with a web browser and Internet access can interact with the project. However, if there is a project you want to build that does not meet these requirements, please propose it and we can work together to make it fit this course.
