%section#rubric{data: {magellan: {target: 'rubric'}}}
  %h3 Rubric
  %p The points given for the project will fall into 2 categories, product evaluation (what is built) and project execution (how it is built). Every project needs to be balanced between how good the product is and how fast the product is built.
  %p The project will consist of these phases:
  %ol
    %li
      Project proposal and team forming
      %ul
        %li This is when you decide what to work on and who to work with.
        %li
          Pick a medium to share your idea with others.
          %ul
            %li It can be a video of you presenting your idea.
            %li It can be a short write up of your idea.
        %li You can build the project by yourself if you want.
    %li
      Project Mid Review
      %ul
        %li Your project should be live on the Internet and accessible by any user.
        %li This is when you get instructor feedback on your project.
        %li
          Points will be given as if it was the final review so you know where your project stands in terms of grade.
          %ul
            %li If the course ended now and you had to submit your project as-is, what would your final score be.
        %li This will give you an idea of where you stand and what you need to focus on for the final stretch of the course.
    %li
      Project Final Review
      %ul
        %li Your project should be live on the Internet and accessible by any user.
        %li
          You should have a video demonstration of your project.
          %ul
            %li This can be a screencast or just a video recorded from your phone.
            %li This video should go through what your project is and how a typical user would use it.
        %li Project will be graded and grades will be turned into Laulima.

  %p The points will be allocated following these guidelines:
  %table.table-bordered.hover
    %caption Point Allocation
    %thead
      %tr
        %th Item
        %th Point
    %tbody
      %tr
        %td Technical Journal
        %td TBD
