%section#rubric{data: {magellan: {target: 'rubric'}}}
  %h3 Rubric
  %p The project will consist of these phases:
  %ol
    %li
      Project proposal and team forming
      %ul
        %li This is when you decide <b>what</b> to work on and <b>who</b> to work with.
        %li
          All project ideas and teams should be <b>finalized by the end of lessons and exercises</b>,&nbsp;
          so teams can start building their projects as soon as lessons finish.&nbsp;
          Please refer to the class calendar for the exact date.
        %li You can build the project <b>by yourself</b> if you want.
        %li
          If you plan on using a software architecture that is different than the one described in this course, please discuss with me <b>before starting</b>.
          %ul
            %li Some students have almost not finish their project because they chose an architecture that was <b>too difficult to implement within our class timeline</b>.
    %li
      Project Mid Review
      %ul
        %li
          Your project should be <b>live</b> on the Internet and accessible by any user.
          %ul
            %li <b>Deploy your application first</b> before customizing a basic, vanilla application for your specific idea
            %li Having a deployed application will give you the <b>bulk of your grade</b>, even if you never customize the basic, vanilla application
            %li Deploying your application can be the most difficult part
        %li This is when you get <b>instructor feedback</b> on your project.
        %li
          Points will be given as if it was the final review so <b>you know</b> where your project stands in terms of grade.
          %ul
            %li If the course ended now and you had to submit your project as-is, this would be your <b>final score</b>.
        %li This will give you an idea of where you stand and what you need to <b>focus</b> on for the final stretch of the course.
    %li
      Project Final Review
      %ul
        %li Your project should be <b>live</b> on the Internet and accessible by any user.
        %li
          You should have a video demonstration of your project.
          %ul
            %li This can be a screencast or just a video recorded from your phone.
            %li This video should go through what your project is and demonstrate how a typical user would use it.
            %li The reason for this demonstration is because companies need to be able to <b>sell</b> their idea/product in addition to building it.
        %li Project will be graded and grades will be <b>turned into Laulima</b>.
  %p
    You can finalize your project idea and teams and start on the project <b>as soon as you would like</b>.&nbsp;
    You can also <b>request a project mid-review</b> as early as you want.&nbsp;
    Your score will <b>not go down</b> between each review.&nbsp;
    If you start early enough, your <b>final project grade</b> can be locked in before the end of the term.

  %p The points given for the project is detailed in the table below.
  %table.table-bordered.hover
    %caption Point Allocation
    %thead
      %tr
        %th Item
        %th Possible Points
    %tbody
      %tr
        %td Accessible on Internet (up and running, viewable from browser)
        %td 40
      %tr
        %td Functional (can create, read, update, and delete data i.e. CRUD)
        %td 10
      %tr
        %td
          Difficulty (
          %a{href: 'https://docs.djangoproject.com/en/4.0/topics/db/examples/'} model associations
          , responsive user interface, use of libraries to add features within views.py, models.py, or JavaScript, etc.)
        %td 10
      %tr
        %td Uniqueness (graphs/charts of data, backend algorithm more than just basic CRUD (such as data processing/analytics, image processing, or something more involved than just interacting with the database), a feature that can be highlighted and sold as different from other projects, etc.)
        %td 10
      %tr
        %td User Interface (easy to navigate, aesthetically pleasing, navigation with menu and links flow cohesively, etc.)
        %td 10
      %tr
        %td Demonstration Video (explains why this application is needed, what this application does, and how it is used)
        %td 10
      %tr
        %td User Accounts (able to create account, log in, and log out)
        %td 5
      %tr
        %td
          %a{href: 'https://medium.com/@zhao.li/general-coding-philosophies-8482df17249b'} Software Best Practices and Code Metrics
          &nbsp;(e.g. Test Coverage, Documentation Coverage, Code Style Linting, security scan reporting, static code analysis, etc.)
        %td 5
      %tr
        %td
          %a{href: 'https://www.gurutechnolabs.com/top-front-end-frameworks/'} Frontend Framework
          &nbsp;(e.g. VueJS, ReactJS, etc.)
        %td 5 (extra credit)
    %tfoot
      %tr
        %td Total
        %td 100 (+5)
        
