%section#syllabus
  %h2 Syllabus
  %h3 Philosophies
  %ul
    %li This course is designed to be a <b>guide</b> for a student finding their way to build their own web application that is live and accessible on the Internet.
    %li This course goes through concepts and exercises that will teach the <b>basic usages</b> of tools that will help the student developer build their web application.
    %li This course is intended to help the student finish their project using <b>project management ideas</b> from industry that is tailored for the classroom setting.
    %li During the course, the course instructor will fill the role of <b>product owner and end-user</b> and the students will fill the role of <b>project manager/developer</b>.
    %li This course aims to provide you with <b>experiences and a product</b> you can talk about to interviewers by putting you in a team environment (if you choose to) so you can gain experience working with others on a pseudo-team-project.
    %li
      This course also moves away from the academia's built-in idea that someone will always have the answers to teach you.&nbsp;
      Instead it moves closer to the <b>real-world</b> where nobody knows the answer, but we are all going to figure it out together.&nbsp;
      In other words, there will be more <b>guiding</b> than teaching in this course.
    %li
      %p 
        %a{href: 'https://brenebrown.com/videos/rsa-short-empathy/'}> Be <b>empathetic</b>
        &nbsp;to fellow classmates and colleagues.
      %blockquote
        It is harder to be kind than clever.
        %cite
          %a{href: 'https://www.youtube.com/watch?v=vBmavNoChZc&t=10m54s'} Jeff Bezos

  %h3 Logistics
  %ul
    %li
      This <b>website</b> (
      %a{href: 'https://ee491f.github.io/course-material/'} https://ee491f.github.io/course-material/ 
      ) will guide you through the entire course.
    %li
      The tentative schedule for this course can be found on this <b>calendar</b>:&nbsp;
      %a{href: 'https://calendar.google.com/calendar/embed?src=c_mii61330fvsva1op8rtar2er6s%40group.calendar.google.com&ctz=Pacific%2FHonolulu'} https://calendar.google.com/calendar/embed?src=c_mii61330fvsva1op8rtar2er6s%40group.calendar.google.com&ctz=Pacific%2FHonolulu
      %ul
        %li Please note that these dates are tentative guidelines and are <b>subject to change</b> based on the progression of the actual class
        %li
          If you want, you can <b>subscribe</b> to the calendar using this link:&nbsp;
          %a{href: 'https://calendar.google.com/calendar/ical/c_mii61330fvsva1op8rtar2er6s%40group.calendar.google.com/public/basic.ics'} https://calendar.google.com/calendar/ical/c_mii61330fvsva1op8rtar2er6s%40group.calendar.google.com/public/basic.ics
        %li The link to the <b>class virtual meeting room</b> (e.g. Discord) can be found on the calendar events
        %li The calendar events have the <b>meeting times</b> for this course
    %li Everything needed for this course is <b>available on the Internet</b>.
    %li
      This class will use this Discord server to <b>communication</b> between the course participants:&nbsp;
      %a{href: 'https://discord.com/channels/857105724424978442/857105724424978444'} https://discord.com/channels/857105724424978442/857105724424978444
      %ul
        %li
          Questions regarding course content can be posted to the <code>#help</code> channel:&nbsp;
          %a{href: 'https://discord.com/channels/857105724424978442/857105724424978448'} https://discord.com/channels/857105724424978442/857105724424978448
        %li
          General <b>question/comment/concern</b> can be posted to the <code>#general</code> channel:&nbsp;
          %a{href: 'https://discord.com/channels/857105724424978442/857105724424978447'} https://discord.com/channels/857105724424978442/857105724424978447
        %li
          <b>All announcements</b> will be posted to the <code>#announcements</code> channel:&nbsp;
          %a{href: 'https://discord.com/channels/857105724424978442/971660345842212864'} https://discord.com/channels/857105724424978442/971660345842212864
        %li Please get <b>comfortable with using Discord</b> as soon as possible.
        %li Please note that all correspondence on Discord is public so feel free to use a fake email address if you have concerns about <b>privacy</b>.
        %li
          To <b>real-time collaborate/chat</b> with others, the class can use the voice channels.
        %li
          Please note that questions asked on Discord can be <b>easily lost</b>
          %ul
            %li Please <b>follow up</b> with a direct message and a link to your post if your question is not addressed by our next class meeting.
        %li
          Please sign up at:&nbsp;
          %a{href: 'https://discord.com/register'} https://discord.com/register
      %li
        If you need <b>assistance with your code</b>, please be prepared to share your development environment using Visual Studio Code's Live Share feature:
        %ul
          %li
            %a{href: 'https://visualstudio.microsoft.com/services/live-share/'} https://visualstudio.microsoft.com/services/live-share/
          %li The <b>free</b> community version is recommended for this class.
          %li You need a free Microsoft or GitHub account to use <b>Live Share</b>, the feature that will allow the instructor and others to help you with your code.
          %li This course does <b>not require</b> Visual Studio (VS) Code, but if you do not have any preferences for code editors and/or IDEs, then it is recommended to try out VS Code.
        %li <b>Confidential matters</b> can be sent directly to the instructor via Laulima and/or instructor's UH email address
    %li
      <b>Office hours</b> are will be held immediately after class or by appointment, as needed
      %ul
        %li <b>Teleconferencing appointments</b> are preferred, but face-to-face meetings can be arranged if necessary
    %li
      All instructional material is available for review.
      %ul
        %li
          <b>Video recordings</b> will be shared on&nbsp;
          = succeed '.' do
            %a{href: 'https://www.youtube.com/channel/UCifwM-Ycj4dKJB_LjWHlFpQ/'} this YouTube channel
        %li
          <b>Supplemental Material</b> will be shared in these Google Drive folders:
          %ul
            %li
              %a{href: 'https://drive.google.com/drive/folders/1FPvnAqro59XraZ8ghjMls6P8CxLpFixM?usp=sharing'} files specific to this term
            %li
              %a{href: 'https://drive.google.com/drive/folders/1B6Ok_-85zK8Nohb3dMEc-TBGLmTJgTzD?usp=sharing'} video related material
    %li
      Everything you need for this course is <b>free</b>.&nbsp;
      You should not need to pay for anything to complete this course.

  %h3 Resources
  %ul
    %li
      Every student will need to have a <b>computer with Internet access</b>.
      &nbsp;The computer must be able to <b>support the&nbsp;
      %a{href: '#development-environment'} development environment
      </b> required to develop the course project.
    %li All of the essential <b>material</b> for this class will be provided by this website, whether as content <b>directly</b> on this website or content <b>linked</b> from this website.
    %li
      Every tool and service used in this class should be free.
      &nbsp;Please <b>do not sign up for any paid plans</b>.
    %li
      Every tool and service used in this class should have their own online documentation and possibly <b>support team</b>.
      &nbsp;Please take advantage of their support resources.
    %li
      All of the concepts and technologies we use in this class are <b>open source</b> and freely available on the Internet.
      %ul
        %li That means there are a lot of open and <b>freely available</b> resources on the Internet to help new users get started.
        %li
          Additionally, there have been <b>many others</b> who has embarked on the journey you are about to commence and have left insightful material for you in the form of blog articles you can search for on&nbsp;
          %a{href: 'https://www.google.com'}> Google
          , questions &amp; answers you can find on&nbsp;
          %a{href: 'https://stackoverflow.com'}> StackOverflow
          , and messages on forums and chatrooms.
        %li
          This&nbsp;
          %a{href: 'http://www.theallium.com/engineering/computer-programming-to-be-officially-renamed-googling-stackoverflow/'} satirical article
          &nbsp;sums it all up. (The article seems to be not accessible anymore, but here is a&nbsp;
          %a{href: 'https://twitter.com/StackExchange/status/623139544276299776'} Tweet
          &nbsp;about it.

  %h3 Grading Policy
  %table.table-bordered.unstriped.hover
    %caption Grading Breakdown
    %thead
      %tr
        %th
        %th Weighting
    %tbody
      %tr
        %td
          %b Exercises
          %br/
          These exercises are a chance to try new and different things, make mistakes, and <b>learn from failures</b>.&nbsp;
          Nobody is expected to get all of the exercises correctly by themselves without any help.&nbsp;
          %br/
          %u Communicate
          &nbsp;your progress with timely updates and give <b>transparency</b> into your work so others can learn from you as well as better help you when they have insight into your work.&nbsp;
          %br/
          This is something that is really important in the real work place, but is not emphasized enough in academia.&nbsp;
          Academia typically rewards a student that <b>works alone</b> and just turns in work by a deadline without any help from others.&nbsp;
          In the real world, it is better to update your team as you are progressing through your part of the group task, whether you are encountering obstacles or moving along smoothly.&nbsp;
          Oftentimes, it is more worrying for a project manager when a team member is not bringing up issues, because that seldom happens in real life.&nbsp;
          A good project manager will create an environment where there is <b>no judgment</b> based on status updates and instead emphasize status updates as a way for the team to <b>help one another</b> through each other's obstacles and hence,&nbsp;
          leverages each of the team member's unique talents, skills, and gifts.
          %br/
          %u Be Proactive
          &nbsp;in trying different ways to find a solution to a problem, but also remembering to reach out for help when you are stuck so you can continue to make progress.
          %br/
          One of the things that differentiates a junior from a senior team member is knowing when to give up and ask for help.&nbsp;
          My rule of thumb when starting out on something totally new and foreign is to err on the side of asking for help rather than continuously banging your head on a problem.
          %br/
          This quote, called the&nbsp;
          %i Serenity Prayer
          , formalizes this concept but applies it more generally.
          %blockquote
            Grant me the serenity to accept the things I cannot change, the courage to change the things I can, and the wisdom to know the difference.
            %cite
              %a{href: 'https://assets.passiton.com/quotes/quote_artwork/6503/original/20180615_friday_quote.jpg?1528650342'} Reinhold Niebuhr
        %td 20%
      %tr
        %td
          %b Project
          %br/
          At the end of the day, companies need to <b>deliver</b> and ship their products.&nbsp;
          If they don't, then they will be out of business.&nbsp;
          There will always need to be a balance between learning and delivering when you work on any project.&nbsp;
          This is yet another skill that is not developed within acadamia.&nbsp;
          These are some things can keep a project from succeeding:
          %br/
          %a{href: 'https://en.wikipedia.org/wiki/Overengineering'} over-engineering
          %br/
          %a{href: 'https://en.wikipedia.org/wiki/Gold_plating_(project_management)'} gold-plating
        %td 80%
    %tfoot
      %tr
        %td Total
        %td 100%
  %table.table-bordered.hover
    %caption Final Grade
    %thead
      %tr
        %th Average
        %th Grade
    %tbody
      %tr
        %td 90% or greater
        %td A or better (e.g. A or A+)
      %tr
        %td 80% or greater
        %td B or better (e.g. B, B+, A-, etc.)
      %tr
        %td 70% or greater
        %td C or better (e.g. C, C+, B-, etc.)
      %tr
        %td 60% or greater
        %td D or better (e.g. D, D+, C-, etc.)
  %ul
    %li The +/- grading system will be used in this course.
    %li Grade boundaries will be set to whole numbers (e.g. 82 not 82.3)
    %li
      Precision and rounding will be handled by&nbsp;
      %a{href: 'https://laulima.hawaii.edu/portal'} Laulima

%h3 Course Progression
%p
  The course has 2 phases:
%ul
  %li <b>Learning and Exercises</b>: this phase is where the instructor will <b>introduce</b> material and the student will <b>practice</b> it with exercise assignments
  %li <b>Project</b>: this phase is where the student will <b>apply</b> all of the topics learned to produce a data driven web application

%p
  During the <b>Learning and Exercises phase</b>, the course will try to <b>blend in project management ideas</b> from Agile/Scrum/Extreme-Programming philosophies/frameworks into an academia setting.&nbsp;
  This might be a bit foreign, but please keep an <b>open mind</b>.
%ul
  %li
    %b
      %a{href: 'https://www.agilealliance.org/glossary/daily-meeting/'} Daily Stand-Up
    &nbsp;will consist of each student giving a brief update addressing the following questions:
    %ul
      %li <b>What did you accomplish yesterday?</b>
      %li <b>What do you plan to accomplish today?</b>
      %li <b>Are there any questions, concerns, or anything blocking you from progressing?</b>
    The main focus of stand-up is to <b>communicate questions, concerns,&nbsp;
    or any potential blockers</b> that might be easily fixed with the help of&nbsp;
    your team, which in this case is the rest of the class.&nbsp;
    Many students will encounter very similar problems and depending on the&nbsp;
    complexity and the number of students affected, we can triage and decide&nbsp;
    on one of the following options:
    %ul
      %li Address issue after stand up (this allows everyone a chance to bring up blockers before any particular blocker is addressed)
      %li Address issue after class (aka office hours)
    In a normal working environment, team members that is not affected or cannot contribute to a blocker can then be free to go off and work on their own tasks.
  %li
    <b>Assignments</b> are listed and tracked on&nbsp;
    %a{href: 'https://laulima.hawaii.edu/portal'} Laulima
    %ul
      %li For most assignments, you will be submitting a link to your code, or more precisely, a link to your Git repository with your code.
  %li
    We will occassionally perform a&nbsp;
    %b
      %a{href: 'https://searchsoftwarequality.techtarget.com/definition/Agile-retrospective'} retrospection
    &nbsp;to discuss these topics:
    %ul
      %li <b>What is working well for the class?</b>
      %li <b>What can be improved for the class?</b>
      %li <b>What should we implement going forward?</b>
    The main focus of retrospection is to iteratively <b>improve</b> a team's process, which in this case is our class process.&nbsp;
    It is similar to the survey that UH gives out at the end of the course, except that the students' feedback can be <b>implemented while they are still in the course</b>.
  %li
    Daily Stand Up's and Retrospection's are about the only Agile/Scrum/Extreme-Programming ceremonies that I can think of that can be useful in this classroom scenario.&nbsp;
    If you can think of ways of incorporating other Agile/Scrum/Extreme-Programming ceremonies (e.g. demonstration, sprint/iteration planning &amp; closing) into the course, please let me know and I would be happy to try it out.

%p
  During the <b>Project phase</b>, the course will try to resemble more of a <b>hackathon</b>,&nbsp;
  where we will spend the class time working on our separate projects together and helping each other overcome bugs and other blockers.

