%section#syllabus
  %h2 Syllabus
  %h3 Philosophies
  %ul
    %li This course is designed to be a guide for the student as they find their way when building their own web application that is live on the Internet.
    %li This course goes through concepts and exercises that will teach the basic usages of tools that will help the student developer build their web application.
    %li This course is intended to help the student finish their project using project management ideas from industry that is tailored for the classroom setting.
    %li During the course, the course instructor will play a product manager role and the student developers will play the role of project manager and developers.
    %li This course aims to provide you with experiences and a product you can talk to interviewers with by putting you in a team environment so you can gain experience working with others and for a pseudo-manager.
    %li This course also moves away from the academia's built-in idea that someone will always have the answers to teach you. Instead it moves closer to the real-world where nobody knows the answer, but we are all going to figure it out together. In other words, there will be more guiding than teaching in this course.
    %li
      %p 
        %a{href: 'http://chadfowler.com/2014/01/19/empathy.html'}> Be empathetic
        &nbsp;to fellow classmates and colleagues.
      %blockquote
        It is harder to be kind than clever.
        %cite
          %a{href: 'https://www.youtube.com/watch?v=vBmavNoChZc&t=10m54s'} Jeff Bezos

  %h3 Logistics
  %ul
    %li
      This website (
      %a{href: 'https://zhaol.github.io/ee491f/'}> https://zhaol.github.io/ee491f/
      ) will guide you through the entire course.
    %li
      There will be a weekly status update to be filled out on&nbsp;
      %a{href: 'https://drive.google.com'}> Google Docs (Drive)
      &nbsp;to discuss project progress and guage whether additional meetings are necessary to help students get over obstacles in learning and developing their project.
    %li Everything needed for this course is available on the Internet.
    %li
      Communication between the course participants will be handled using online collaboration tools.
      %ul
        %li
          To post a question/comment/concern, send email to&nbsp;
          %a{href: 'mailto:main+int+1234+2857229824036714752@university-of-hawaii-ee491f.groups.io'}> main+int+1234+2857229824036714752@university-of-hawaii-ee491f.groups.io
          %ul
            %li All announcements and official correspondence will be handled through the mailing list.
            %li Please get comfortable with using Groups.io as soon as possible.
            %li Please note that all email correspondence with this mailing list is public so feel free to use a fake email address if you have concerns about privacy.
            %li This mailing list format was chosen to allow students to leverage questions and answers from previous semesters.
        %li
          To view/manage previous messages, browse to&nbsp;
          %a{href: 'https://groups.io/g/university-of-hawaii-ee491f/topics'} https://groups.io/g/university-of-hawaii-ee491f/topics
        %li
          To real-time collaborate/chat with others, use&nbsp;
          %a{href: 'https://slack.com'} Slack
          %ul
            %li please note that questions asked on Slack can be easily lost; please use the mailing list to ensure your questions/comments/concerns get addressed appropriately
            %li An invitation email will be sent to your hawaii.edu email address at the start of the semester
            %li If you prefer to use Slack under another email address, please email your preferred email address to the instructor
            %li
              After following the sign up instructions from Slack's invitation email, you can sign in at&nbsp;
              %a{href: 'https://hicapacity.slack.com'} https://hicapacity.slack.com
              ; use channel name&nbsp;
              %code #university-of-hawaii-ee491f
              &nbsp;or go to&nbsp;
              %a{href: 'https://app.slack.com/client/T02AS3PAA/CRG8VB7UH'} https://app.slack.com/client/T02AS3PAA/CRG8VB7UH
            %li Please remember that HiCapacity is a local Hawaii group of technology enthusiasts. This forum was chosen to make it easier to possibly connect with others in the industry so you are not limited to just peers in this course and academia. This course is not affiliated with HiCapacity in any way except for this collaboration chat channel.
        %li
          If you need assistance with your code, please be prepared to share your development environment with Visual Studio Code's Live Share feature:
          %ul
            %li
              %a{href: 'https://visualstudio.microsoft.com/services/live-share/'} https://visualstudio.microsoft.com/services/live-share/
            %li The free community version is sufficient.
            %li You need a free Microsoft or GitHub account to use Live Share
    %li Weekly office hours are coordinated at: TBD
    %li Teleconferencing and face-to-face meetings can be made by appointment as needed
    %li Everything you need for this course is free. You should not need to pay for anything to complete this course.

  %h3 Resources
  %ul
    %li
      Every course participant will need to have a computer with Internet access. The computer must be able to support the&nbsp;
      %a{href: '#development-environment'} development environment
      &nbsp;required to develop the course project.
    %li All of the essential material for this class will be provided by this website, whether as content directly on this website or content linked from this website.
    %li Every tool and service used in this class should be free. Please do not sign up for any paid plans.
    %li Every tool and service used in this class should have their own online documentation and possibly support team. Please do take advantage of their support resources.
    %li
      All of the concepts and technologies we use in this class are open source and freely available on the Internet.
      %ul
        %li That means there are a lot of open and freely available resources on the Internet to help new users get started.
        %li
          Additionally, there have been many others who has embarked on the journey you are about to commence and have left insightful material for you in the form of blog articles you can search for on&nbsp;
          %a{href: 'https://www.google.com'}> Google
          , questions &amp; answers you can find on&nbsp;
          %a{href: 'https://stackoverflow.com'}> StackOverflow
          , and messages on forums and chatrooms.
        %li
          This&nbsp;
          %a{href: 'http://www.theallium.com/engineering/computer-programming-to-be-officially-renamed-googling-stackoverflow/'} satirical article
          &nbsp;sums it all up. (The article seems to be not accessible anymore, but here is a&nbsp;
          %a{href: 'https://twitter.com/StackExchange/status/623139544276299776'} Tweet
          &nbsp;about it.
  %h3 Grading Policy
  %table.table-bordered.unstriped.hover
    %caption Grading Breakdown
    %thead
      %tr
        %th
        %th Percentage
    %tbody
      %tr
        %td
          %b Communication
          %br/
          e.g. timely updates, transparency into own work, etc.
          %br/
          This is something that is really important in the real work place, but is not emphasized enough in academia. Academia typically rewards a student that works alone and just turns in work by a deadline without any help from others. In the real world, it is better to update your team as you are progressing through your part of the group task, whether you are encountering obstacles or moving along smoothly. It is sometimes more worrying for a project manager when a team member is not bringing up issues, because that seldom happens in real life. A good project manager will create an environment where there is no judgment based on status updates and instead emphasize status updates as a way for the team to help one another through each other's obstacles and hence, leverages each of the team member's unique talents, skills, and gifts.
        %td 10%
      %tr
        %td
          %b Proactiveness
          %br/
          e.g. reaching out for help when stuck, trying different ways to find a solution, continual progress, etc.
          %br/
          One of the things that differentiates a junior from a senior team member is knowing when to give up and ask for help. My rule of thumb when starting out on something totally new and foreign is to err on the side of asking for help rather than continuously banging your head on a problem.
          %br/
          This quote formalizes this concept but applies it more generally.
          %blockquote
            \...The wisdow to know the difference.
            %cite
              %a{href: 'https://assets.passiton.com/quotes/quote_artwork/6503/original/20180615_friday_quote.jpg?1528650342'} Reinhold Niebuhr
        %td 10%
      %tr
        %td
          %b Project
          %br/
          At the end of the day, companies need to deliver and ship their products. If they don't, then they will be out of business. There will always need to be a balance between learning and delivering when you work on any project. This is yet another skill to that needs to be developed. These are some things can keep a project from succeeding:
          %br/
          %a{href: 'https://en.wikipedia.org/wiki/Overengineering'} over-engineering
          %br/
          %a{href: 'https://en.wikipedia.org/wiki/Gold_plating_(project_management)'} gold-plating
        %td 80%
    %tfoot
      %tr
        %td Total
        %td 100%
  %table.table-bordered.hover
    %caption Final Grade
    %thead
      %tr
        %th Average
        %th Grade
    %tbody
      %tr
        %td 85% or greater
        %td A or better
      %tr
        %td 70% or greater
        %td B or better
      %tr
        %td 55% or greater
        %td C or better
      %tr
        %td 40% or greater
        %td D or better
  %ul
    %li The +/- grading system will be used in this course.
    %li Grade boundaries will be set to whole numbers (e.g. 82 not 82.3)
    %li
      Precision and rounding will be handled by&nbsp;
      %a{href: 'https://laulima.hawaii.edu/portal'} Laulima
