%section#syllabus
  %h2 Syllabus
  %h3 Philosophies
  %ul
    %li This course is designed to be a guide for the student as they find their way when building their own web application that is live on the Internet.
    %li This course initially goes through exercises that will teach the basic usages of tools that will help the student developer build their web application.
    %li This course then switches from exercises to project based when the students work to build out the web application using project management techniques and tools.
    %li During the project phase of this course, the course instructor will play a product manager role and the student developers will play the role of project manager and developers.
    %li
      %p 
        %a{href: 'http://chadfowler.com/2014/01/19/empathy.html'}> Be empathetic
        &nbsp;to fellow classmates and colleagues.
      %blockquote
        It is harder to be kind than clever.
        %cite
          %a{href: 'https://www.youtube.com/watch?v=vBmavNoChZc&t=10m54s'} Jeff Bezos
  %h3 Logistics
  %ul
    %li
      This website (
      %a{href: 'https://zhaol.github.io/ee491f/'}> https://zhaol.github.io/ee491f/
      ) will guide you through the entire course.
    %li Everything needed for this course is available on the Internet.
    %li Communication between the course participants will be handled using online collaboration tools.
  %h3 Resources
  %ul
    %li
      Every course participant will need to have a computer with Internet access. The computer must be able to support the&nbsp;
      %a{href: '#development-environment'} development environment
      &nbsp;required to develop the course project.
    %li All of the essential material for this class will be provided by this website, whether as content directly on this website or content linked from this website.
    %li Every tool and service used in this class should be free. Please do not sign up for any paid plans.
    %li Every tool and service used in this class should have their own online documentation and possibly support team. Please do take advantage of their support information.
    %li
      Annoucements, questions, and office hours will be handled using&nbsp;
      %a{href: 'https://piazza.com'} Piazza
      %ul
        %li teleconferencing and face-to-face meetings can be arranged as needed
    %li
      All of the concepts and technologies we use in this class are open source and freely available on the Internet.
      %ul
        %li That means there are a lot of open and freely available resources on the Internet to help new users get started.
        %li
          Additionally, there have been many others who has embarked on the journey you are about to commence and have left insightful material for you in the form of blog articles you can search for on&nbsp;
          %a{href: 'https://www.google.com'}> Google
          , questions &amp; answers you can find on&nbsp;
          %a{href: 'https://stackoverflow.com'}> StackOverflow
          , and messages on forums and chatrooms.
        %li
          This&nbsp;
          %a{href: 'http://www.theallium.com/engineering/computer-programming-to-be-officially-renamed-googling-stackoverflow/'} satirical article
          &nbsp;sums it all up.
  %h3 Grading Policy
  %table.table-bordered.unstriped.hover
    %caption Grading Breakdown
    %thead
      %tr
        %th
        %th Percentage
    %tbody
      %tr
        %td Exercises
        %td 20%
      %tr
        %td Project
        %td 80%
    %tfoot
      %tr
        %td Total
        %td 100%
  %table.table-bordered.hover
    %caption Final Grade
    %thead
      %tr
        %th Average
        %th Grade
    %tbody
      %tr
        %td 85% or greater
        %td A or better
      %tr
        %td 70% or greater
        %td B or better
      %tr
        %td 55% or greater
        %td C or better
      %tr
        %td 40% or greater
        %td D or better
  %ul
    %li The +/- grading system will be used in this course.
    %li Grade boundaries will be set to whole numbers (e.g. 82 not 82.3)
    %li
      Precision and rounding will be handled by&nbsp;
      %a{href: 'https://laulima.hawaii.edu/portal'} Laulima
