%section#version-control-system{data: {magellan: {target: 'version-control-system'}}}
  %h2 Version Control System
  %p
    A
    %a{href: 'https://en.wikipedia.org/wiki/Version_control'} version control system
    is a tool that allows you to track the changes to your source code.  If you've ever backed up your program and saved it to a folder with a timestamp then you've been manually controlling the changes (i.e. versions) of your program. A version control system will help you track those changes (i.e. versions) automagically.
