.sidebar {
  padding-left: 0.9375rem;
  .drilldown, nav {
    a {
      color: $white;
      background-color: $gray;
      &:hover {
        color: $white;
      }
    }
    .is-drilldown-submenu {
      background-color: $gray;
    }
    .is-drilldown-submenu-parent a {
      &::before, &::after { // triangle arrows
        border-color: transparent $white transparent $white;
      }
    }
  }
}

.contribute-statement {
  color: $white;
  font-size: .8125rem;
  font-style: italic;
}
