.main { padding-left: 0.9375rem; }

.sidebar { padding-left: 0.9375rem; }
.sidebar .drilldown a, .sidebar nav a { color: white; background-color: #868e96; }
.sidebar .drilldown a:hover, .sidebar nav a:hover { color: white; }
.sidebar .drilldown .is-drilldown-submenu, .sidebar nav .is-drilldown-submenu { background-color: #868e96; }
.sidebar .drilldown .is-drilldown-submenu-parent a::before, .sidebar .drilldown .is-drilldown-submenu-parent a::after, .sidebar nav .is-drilldown-submenu-parent a::before, .sidebar nav .is-drilldown-submenu-parent a::after { border-color: transparent white transparent white; }
