!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    %title {{ page.title | default: site.title }}
    %meta{name: 'description',
      content: '{{ site.description | escape }}'}
    %meta{name: 'keywords',
      content: '{{ page.title | default: site.title }}'}
    %link{rel: 'stylesheet',
      href: 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css',
      integrity: 'sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M',
      crossorigin: 'anonymous'}
  %body
    .container-fluid
      .row
        .col-3
          {% haml menu.haml %}
        .col
          {{ content }}
